.page404-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #7AA7EF;
}
.page404-menu {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.page404-mobile-navigation {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 150;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.page404-logo {
  width: 64px;
}
.page404-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
}
.page404-close-mobile-menu {
  top: var(--dl-space-space-oneandhalfunits);
  right: var(--dl-space-space-oneandhalfunits);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page404-icon {
  width: 24px;
  height: 24px;
  display: flex;
}
.page404-desktop-navigation {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.page404-centered {
  width: 100%;
  height: var(--dl-size-size-medium);
  display: flex;
  max-width: 1200px;
  box-sizing: initial;
  align-items: center;
  padding-left: 1%;
  border-radius: 50px;
  padding-right: 2%;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
.page404-left {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 38px;
  flex-direction: row;
  padding-bottom: 38px;
}
.page404-logo1 {
  width: 105px;
  margin-left: var(--dl-space-space-halfunit);
}
.page404-links1 {
  display: flex;
  align-items: center;
  margin-left: 33px;
  flex-direction: row;
}
.page404-text03 {
  text-decoration: none;
}
.page404-link {
  text-decoration: none;
}
.page404-link1 {
  text-decoration: none;
}
.page404-right {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.page404-link2 {
  display: contents;
}
.page404-get-started {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #000000;
}
.page404-get-started:hover {
  background-color: #7AA7EF;
}
.page404-text04 {
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
}
.page404-burger-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.page404-mobile-menu-button {
  width: 40px;
  height: 40px;
  display: none;
}
.page404-form {
  width: 947px;
  height: 284px;
  display: flex;
  align-items: center;
  margin-right: 9%;
  justify-content: center;
}
.page404-image {
  width: 30%;
  height: 189px;
  align-self: flex-start;
  margin-top: 8%;
  object-fit: cover;
  margin-right: 0%;
}
.page404-text05 {
  color: var(--dl-color-gray-white);
  width: 447px;
  font-size: 65px;
  align-self: center;
  font-style: normal;
  margin-top: 5%;
  font-family: Tahoma;
  font-weight: 600;
  margin-left: 1%;
}
.page404-text06 {
  color: var(--dl-color-gray-black);
  font-size: 50px;
  align-self: center;
  font-style: normal;
  margin-top: 5%;
  font-weight: 800;
  margin-right: 0,5%;
}
.page404-image1 {
  width: 205px;
  height: 192px;
  align-self: center;
  object-fit: cover;
}
.page404-text07 {
  color: var(--dl-color-gray-black);
  font-size: 30px;
  align-self: center;
  font-style: normal;
  margin-top: 2%;
  font-family: Tahoma;
  font-weight: 700;
  margin-bottom: 2%;
}
.page404-navlink {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-bottom: 15%;
  text-decoration: none;
  background-color: rgb(0, 0, 0);
}

.page404-footer {
  width: 100%;
  height: 704px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sevenunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sevenunits);
  background-color: #6495eb;
}
.page404-top {
  width: 100%;
  height: 331px;
  display: flex;
  max-width: 1200px;
  border-color: #3B3B3B;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
.page404-right1 {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: flex-start;
}
.page404-category {
  width: 240px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.page404-text08 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.page404-links2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page404-text09 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
}
.page404-text10 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page404-text11 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page404-text12 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page404-text13 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page404-category1 {
  width: 240px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page404-text14 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.page404-links3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page404-text15 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page404-text16 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page404-text17 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page404-text18 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page404-text19 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page404-text20 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page404-category2 {
  width: 240px;
  display: flex;
  flex-direction: column;
}
.page404-text21 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.page404-links4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page404-text22 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page404-text23 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page404-text24 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page404-text25 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page404-text26 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page404-bottom {
  width: 100%;
  display: flex;
  max-width: 1200px;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  user-select: none;
  flex-direction: column;
}
.page404-branding {
  width: 153px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);;
  height: 131px;
  margin-bottom: 0px;
}
.page404-text27 {
  color: rgb(104, 104, 104);
  font-size: 14px;
  line-height: 30px;
}
@media(max-width: 991px) {
  .page404-close-mobile-menu {
    align-items: center;
    justify-content: center;
  }
  .page404-desktop-navigation {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .page404-centered {
    height: 48%;
    padding-left: 1%;
    padding-right: 1%;
  }
  .page404-left {
    margin-left: var(--dl-space-space-halfunit);
  }
  .page404-logo1 {
    width: 64px;
  }
  .page404-links1 {
    display: none;
  }
  .page404-get-started {
    display: none;
  }
  .page404-mobile-menu-button {
    display: flex;
  }
  .page404-footer {
    padding: var(--dl-space-space-sixunits);
    background-color: #395b81;
  }
  .page404-top {
    flex-direction: column;
  }
  .page404-right1 {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .page404-links2 {
    gap: var(--dl-space-space-unit);
  }
  .page404-links3 {
    gap: var(--dl-space-space-unit);
  }
  .page404-links4 {
    gap: var(--dl-space-space-unit);
  }
  .page404-branding {
    width: var(--dl-size-size-medium);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .page404-text27 {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 0px;
  }
}
@media(max-width: 767px) {
  .page404-mobile-navigation {
    top: 0px;
    right: -479px;
  }
  .page404-desktop-navigation {
    padding-left: 0px;
    padding-right: 0px;
  }
  .page404-left {
    margin-left: var(--dl-space-space-unit);
  }
  .page404-right {
    margin-right: var(--dl-space-space-unit);
  }
  .page404-get-started {
    display: none;
  }
  .page404-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .page404-mobile-navigation {
    height: 9638px;
    margin-bottom: 0px;
  }
  .page404-logo {
    margin-left: 0px;
  }
  .page404-icon {
    align-items: center;
    justify-content: center;
  }
  .page404-centered {
    width: 100%;
    height: var(--dl-size-size-small);
    padding: 0%;
  }
  .page404-image {
    width: 20%;
    margin-left: 5%;
  }
  .page404-text05 {
    color: var(--dl-color-gray-white);
    width: 29%;
    font-size: 35px;
    font-style: normal;
    font-family: Tahoma;
    font-weight: 600;
  }
  .page404-navlink {
    margin-top: 15%;
    margin-bottom: 30%;
  }
  .page404-footer {
    height: 975px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .page404-right1 {
    width: 455px;
    height: 732px;
  }
  .page404-text22 {
    color: rgb(196, 196, 196);
    font-size: 14px;
  }
  .page404-bottom {
    margin-top: 90%;
  }
  .page404-branding {
    width: 154px;
  }
}
