.page404-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #7AA7EF;
}
.page404-form {
  width: 947px;
  height: 284px;
  display: flex;
  align-items: center;
  margin-right: 9%;
  justify-content: center;
}
.page404-image {
  width: 30%;
  height: 189px;
  align-self: flex-start;
  margin-top: 8%;
  object-fit: cover;
  margin-right: 0%;
}
.page404-text {
  color: var(--dl-color-gray-white);
  width: 447px;
  font-size: 65px;
  align-self: center;
  font-style: normal;
  margin-top: 5%;
  font-family: Tahoma;
  font-weight: 600;
  margin-left: 1%;
}
.page404-text01 {
  color: var(--dl-color-gray-black);
  font-size: 50px;
  align-self: center;
  font-style: normal;
  margin-top: 5%;
  font-weight: 800;
  margin-right: 0,5%;
}
.page404-image1 {
  width: 205px;
  height: 192px;
  align-self: center;
  object-fit: cover;
}
.page404-text02 {
  color: var(--dl-color-gray-black);
  font-size: 30px;
  align-self: center;
  font-style: normal;
  margin-top: 2%;
  font-family: Tahoma;
  font-weight: 700;
  margin-bottom: 2%;
}
.page404-navlink {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-bottom: 15%;
  text-decoration: none;
  background-color: rgb(0, 0, 0);
}

.page404-footer {
  width: 100%;
  height: 906px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sevenunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sevenunits);
  background-color: #395b81;
}
.page404-top {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 105%;
  border-color: #3B3B3B;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
.page404-right {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: flex-start;
}
.page404-category {
  width: 240px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.page404-text03 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.page404-links {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page404-text04 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
}
.page404-text05 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page404-text06 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page404-text07 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page404-text08 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page404-category1 {
  width: 240px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page404-text09 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.page404-links1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page404-text10 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page404-text11 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page404-text12 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page404-text13 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page404-text14 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page404-text15 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page404-category2 {
  width: 240px;
  display: flex;
  flex-direction: column;
}
.page404-text16 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.page404-links2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page404-link {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
.page404-link1 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
.page404-link2 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
.page404-link3 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
.page404-category3 {
  width: 240px;
  display: flex;
  flex-direction: column;
}
.page404-text17 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-left: 2%;
  margin-bottom: var(--dl-space-space-unit);
}
.page404-links3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page404-ul {
  width: 150%;
  align-self: flex-start;
  margin-right: 0px;
  padding-left: 0%;
  margin-bottom: 10%;
}
.page404-navlink01 {
  color: #c4c4c4;
  text-decoration: underline;
}
.page404-li1 {
  margin-top: 4%;
  margin-bottom: 4%;
}
.page404-navlink02 {
  color: #c4c4c4;
  text-decoration: underline;
}
.page404-navlink03 {
  color: #c4c4c4;
  text-decoration: underline;
}
.page404-li3 {
  margin-top: 4%;
  margin-bottom: 4%;
}
.page404-navlink04 {
  color: #c4c4c4;
  text-decoration: underline;
}
.page404-navlink05 {
  color: #c4c4c4;
  text-decoration: underline;
}
.page404-li5 {
  margin-top: 4%;
  margin-bottom: 4%;
}
.page404-navlink06 {
  color: #c4c4c4;
  text-decoration: underline;
}
.page404-navlink07 {
  color: #c4c4c4;
  text-decoration: underline;
}
.page404-li7 {
  margin-top: 4%;
  margin-bottom: 4%;
}
.page404-navlink08 {
  color: #c4c4c4;
  margin-top: 0%;
  margin-bottom: 0%;
  text-decoration: underline;
}
.page404-navlink09 {
  color: #c4c4c4;
  text-decoration: underline;
}
.page404-bottom {
  width: 100%;
  display: flex;
  max-width: 1200px;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  user-select: none;
  flex-direction: column;
}
.page404-branding {
  width: 153px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);;
  height: 131px;
  margin-bottom: 0px;
}
.page404-text18 {
  color: rgb(104, 104, 104);
  font-size: 14px;
  line-height: 30px;
}
@media(max-width: 1200px) {
  .page404-footer {
    height: 1191px;
  }
}
@media(max-width: 991px) {
  .page404-footer {
    height: 1543px;
    padding: var(--dl-space-space-sixunits);
    background-color: #395b81;
  }
  .page404-top {
    flex-direction: column;
  }
  .page404-right {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .page404-links {
    gap: var(--dl-space-space-unit);
  }
  .page404-links1 {
    gap: var(--dl-space-space-unit);
  }
  .page404-links2 {
    gap: var(--dl-space-space-unit);
  }
  .page404-links3 {
    gap: var(--dl-space-space-unit);
  }
  .page404-branding {
    width: 20%;
    margin-bottom: 2%;
  }
  .page404-text18 {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 0px;
  }
}
@media(max-width: 767px) {
  .page404-footer {
    height: 1487px;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .page404-image {
    width: 20%;
    margin-left: 5%;
  }
  .page404-text {
    color: var(--dl-color-gray-white);
    width: 29%;
    font-size: 35px;
    font-style: normal;
    font-family: Tahoma;
    font-weight: 600;
  }
  .page404-navlink {
    margin-top: 15%;
    margin-bottom: 30%;
  }
  .page404-footer {
    height: 1579px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .page404-right {
    height: 732px;
  }
  .page404-link {
    color: rgb(196, 196, 196);
    font-size: 14px;
  }
  .page404-links3 {
    width: 100%;
    padding-right: 119px;
  }
  .page404-bottom {
    margin-top: 90%;
  }
  .page404-branding {
    width: 154px;
  }
}
