.contact-us-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: rgb(100, 149, 235);
}
.contact-us-centered {
  width: 100%;
  height: var(--dl-size-size-medium);
  display: flex;
  opacity: 1.0;
  z-index: 200;
  position: fixed;
  max-width: 100%;
  box-sizing: initial;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(57, 91, 129, 0.6);
}
.contact-us-left {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 4%;
  padding-top: 38px;
  flex-direction: row;
  padding-bottom: 38px;
}
.contact-us-navlink {
  display: contents;
}
.contact-us-logo {
  width: 105px;
  text-decoration: none;
}
.contact-us-links {
  display: flex;
  align-items: center;
  margin-left: 33px;
  flex-direction: row;
}
.contact-us-navlink1 {
  color: #ffffff;
  text-decoration: none;
}
.contact-us-navlink2 {
  color: #ffffff;
  text-decoration: none;
}
.contact-us-right {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  margin-right: 5%;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.contact-us-burger-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.contact-us-mobile-menu-button {
  width: 40px;
  height: 40px;
  display: none;
}
.contact-us-container01 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.contact-us-container02 {
  flex: 0 0 auto;
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-us-text {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
}
.contact-us-form {
  width: 50%;
  height: 700px;
  display: flex;
  margin-top: 30px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(57, 91, 129, 0.6);
}
.contact-us-container03 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
  justify-content: center;
}
.contact-us-text1 {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 2%;
}
.contact-us-textinput {
  width: 270px;
  height: 40px;
  text-align: center;
  border-color: black;
  border-width: 2px;
  border-radius: 3px;
}
.contact-us-container04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
  justify-content: center;
}
.contact-us-text2 {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 2%;
}
.contact-us-textinput1 {
  width: 270px;
  height: 40px;
  text-align: center;
  border-color: black;
  border-width: 2px;
  border-radius: 3px;
}
.contact-us-container05 {
  flex: 0 0 auto;
  width: 360px;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
  justify-content: center;
}
.contact-us-text3 {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 2%;
}
.contact-us-textinput2 {
  width: 270px;
  height: 40px;
  text-align: center;
  border-color: black;
  border-width: 2px;
  border-radius: 3px;
}
.contact-us-container06 {
  flex: 0 0 auto;
  width: 360px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-us-text4 {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 2%;
}
.contact-us-textarea {
  width: 360px;
  height: 120px;
  border-color: black;
  border-width: 2px;
  border-radius: 3px;
}
.contact-us-container07 {
  color: white;
  width: 26%;
  height: 8%;
  display: flex;
  font-size: 24px;
  margin-top: 10%;
  transition: 0.3s;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  background-color: black;
}
.contact-us-container07:hover {
  cursor: pointer;
}
.contact-us-container09 {
  display: contents;
}
@media(max-width: 1200px) {
  .contact-us-text1 {
    color: var(--dl-color-gray-black);
    font-size: 20px;
  }
  .contact-us-text2 {
    color: var(--dl-color-gray-black);
    font-size: 20px;
  }
  .contact-us-text3 {
    color: var(--dl-color-gray-black);
  }
  .contact-us-text4 {
    color: var(--dl-color-gray-black);
    font-size: 20px;
  }
}
@media(max-width: 991px) {
  .contact-us-centered {
    padding-left: 1%;
    padding-right: 1%;
  }
  .contact-us-left {
    margin-left: var(--dl-space-space-halfunit);
  }
  .contact-us-logo {
    width: 64px;
  }
  .contact-us-links {
    display: none;
  }
  .contact-us-mobile-menu-button {
    display: flex;
  }
}
@media(max-width: 767px) {
  .contact-us-left {
    margin-left: var(--dl-space-space-unit);
  }
  .contact-us-right {
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .contact-us-centered {
    width: 100%;
    height: var(--dl-size-size-small);
  }
}
