.diamond-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #7AA7EF;
}
.diamond-menu {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.diamond-mobile-navigation {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 150;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.diamond-logo {
  width: 64px;
}
.diamond-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
}
.diamond-close-mobile-menu {
  top: var(--dl-space-space-oneandhalfunits);
  right: var(--dl-space-space-oneandhalfunits);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.diamond-icon {
  width: 24px;
  height: 24px;
  display: flex;
}
.diamond-desktop-navigation {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.diamond-centered {
  width: 100%;
  height: var(--dl-size-size-medium);
  display: flex;
  z-index: 999;
  position: fixed;
  max-width: 100%;
  box-sizing: initial;
  align-items: center;
  padding-right: 0%;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(57, 91, 129, 0.6);
}
.diamond-left {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 4%;
  padding-top: 38px;
  flex-direction: row;
  padding-bottom: 38px;
}
.diamond-navlink {
  display: contents;
}
.diamond-logo1 {
  width: 105px;
  margin-left: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.diamond-links1 {
  display: flex;
  align-items: center;
  margin-left: 33px;
  flex-direction: row;
}
.diamond-navlink01 {
  color: #ffffff;
  text-decoration: none;
}
.diamond-navlink02 {
  color: #ffffff;
  text-decoration: none;
}
.diamond-right {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  margin-right: 5%;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.diamond-link {
  display: contents;
}
.diamond-get-started {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #213852;
}
.diamond-get-started:hover {
  background-color: #7AA7EF;
}
.diamond-text03 {
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
}
.diamond-burger-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.diamond-mobile-menu-button {
  width: 40px;
  height: 40px;
  display: none;
}
.diamond-container2 {
  display: contents;
}
.diamond-text04 {
  color: white;
  font-size: 70px;
  margin-top: 15%;
  margin-bottom: 2%;
}
.diamond-text05 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 500;
  margin-bottom: 13%;
}
.diamond-pricing {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: flex-end;
  border-color: #ffffff;
  border-style: double;
  border-width: 1px;
  padding-bottom: 1%;
  justify-content: flex-start;
  background-color: #7FB3D5;
  border-top-width: 15px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 15px;
}
.diamond-container3 {
  top: auto;
  width: 70%;
  height: 100%;
  padding: 2%;
  align-self: flex-end;
}
.diamond-text06 {
  top: auto;
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 60px;
  align-self: flex-start;
  margin-bottom: 7%;
}
.diamond-text07 {
  color: #ffffff;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
}
.diamond-image {
  width: 30%;
  height: 100%;
  box-shadow: 5px 5px 10px 0px #000000;
  object-fit: cover;
  transition: 0.3s;
  border-color: #000000;
  border-width: 3px;
  margin-right: 2%;
  border-radius: 10%;
  margin-bottom: 2%;
}
.diamond-image:hover {
  transform: scale(1.05);
}
.diamond-pricing1 {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: flex-end;
  border-color: #ffffff;
  border-style: double;
  border-width: 1px;
  justify-content: flex-start;
  background-color: #1c7b6f;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 15px;
}
.diamond-image1 {
  width: 30%;
  height: 100%;
  margin: 0 1% 1% 1%;
  box-shadow: 5px 5px 10px 0px #000000;
  object-fit: cover;
  transition: 0.3s;
  border-color: var(--dl-color-gray-black);
  border-width: 3px;
  border-radius: 20%;
  margin-bottom: 2%;
}
.diamond-image1:hover {
  transform: scale(1.05);
}
.diamond-container4 {
  top: auto;
  width: 70%;
  height: 100%;
  align-self: flex-end;
  padding-top: 4%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
}
.diamond-text15 {
  color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  font-size: 60px;
  align-self: center;
  margin-bottom: 5%;
}
.diamond-text16 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.diamond-text18 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.diamond-text21 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.diamond-pricing2 {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: flex-end;
  border-color: #ffffff;
  border-style: double;
  border-width: 1px;
  padding-bottom: 1%;
  justify-content: flex-start;
  background-color: #73C6B6;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 15px;
}
.diamond-container5 {
  top: auto;
  width: 70%;
  height: 100%;
  align-self: flex-end;
  padding-top: 4%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
}
.diamond-text24 {
  top: auto;
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 60px;
  align-self: flex-start;
  margin-bottom: 7%;
}
.diamond-text25 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  font-weight: 500;
}
.diamond-image2 {
  width: 30%;
  height: 500px;
  align-self: flex-end;
  box-shadow: 5px 5px 10px 0px #000000;
  object-fit: cover;
  transition: 0.3s;
  border-color: #000000;
  border-width: 3px;
  margin-right: 2%;
  border-radius: 20%;
  margin-bottom: 2%;
  padding-right: 0%;
}
.diamond-image2:hover {
  transform: scale(1.05);
}
.diamond-pricing3 {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: flex-end;
  border-color: #ffffff;
  border-style: double;
  border-width: 1px;
  margin-bottom: 15%;
  justify-content: flex-start;
  background-color: #D98880;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 15px;
}
.diamond-image3 {
  width: 30%;
  height: 100%;
  box-shadow: 5px 5px 10px 0px #000000;
  margin-top: 0%;
  object-fit: cover;
  transition: 0.3s;
  margin-left: 1%;
  border-color: var(--dl-color-gray-black);
  border-width: 3px;
  margin-right: 0%;
  border-radius: 20%;
  margin-bottom: 2%;
}
.diamond-image3:hover {
  transform: scale(1.05);
}
.diamond-container6 {
  top: auto;
  width: 70%;
  height: 100%;
  align-self: flex-end;
  padding-top: 4%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
}
.diamond-text30 {
  color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  font-size: 70px;
  align-self: center;
  margin-bottom: 5%;
}
.diamond-text31 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.diamond-container7 {
  top: auto;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.diamond-navlink03 {
  fill: var(--dl-color-gray-white);
  color: #ffffff;
  width: 15%;
  height: 40%;
  display: flex;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  text-decoration: none;
  background-color: #000000;
}
.diamond-navlink03:hover {
  background-color: #395b81;
}
.diamond-icon2 {
  width: 24px;
  height: 24px;
  margin-right: 2%;
}
.diamond-text42 {
  font-size: 12px;
  padding-bottom: 1%;
}
.diamond-banner {
  width: 100%;
  height: 491px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: space-between;
  background-image: url('https://images.unsplash.com/photo-1485628390555-1a7bd503f9fe?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE3fHxhcmNoaXRlY3R1cmUlMjBtaW5pbWFsfGVufDB8fHx8MTYyNjE4NDA0Mg&ixlib=rb-1.2.1&w=1500');
  background-position: center;
}
.diamond-text43 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1%;
}
.diamond-text44 {
  color: var(--dl-color-gray-white);
  max-width: var(--dl-size-size-maxwidth);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.diamond-container8 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.diamond-textinput {
  width: 25%;
  height: 40px;
  font-size: 0.75rem;
  border-color: var(--dl-color-gray-500);
  border-radius: 20px;
  margin-bottom: 5%;
}
.diamond-button {
  color: var(--dl-color-gray-white);
  width: 7%;
  height: 40px;
  font-size: 0.75rem;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-radius: 20px;
  background-color: var(--dl-color-gray-black);
}
.diamond-button:hover {
  color: var(--dl-color-gray-black);
  background-color: transparent;
}
.diamond-footer {
  width: 100%;
  height: 878px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sevenunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sevenunits);
  background-color: #395b81;
}
.diamond-top {
  width: 105%;
  height: 100%;
  display: flex;
  max-width: 105%;
  border-color: #3B3B3B;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
.diamond-right1 {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: flex-start;
}
.diamond-category {
  width: 240px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.diamond-navlink04 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.diamond-links2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.diamond-text45 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
}
.diamond-text46 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.diamond-text47 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.diamond-text48 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.diamond-text49 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.diamond-category1 {
  width: 240px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.diamond-text50 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.diamond-links3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.diamond-navlink05 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
.diamond-text51 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.diamond-text52 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.diamond-text53 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.diamond-text54 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.diamond-text55 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.diamond-category2 {
  width: 240px;
  display: flex;
  flex-direction: column;
}
.diamond-text56 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.diamond-links4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.diamond-link1 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
.diamond-link2 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
.diamond-link3 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
.diamond-link4 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
.diamond-category3 {
  width: 240px;
  display: flex;
  flex-direction: column;
}
.diamond-text57 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-left: 2%;
  margin-bottom: var(--dl-space-space-unit);
}
.diamond-links5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.diamond-ul {
  width: 150%;
  align-self: flex-start;
  margin-right: 0px;
  padding-left: 2%;
  margin-bottom: 10%;
}
.diamond-navlink06 {
  color: #c4c4c4;
  text-decoration: underline;
}
.diamond-li1 {
  margin-top: 4%;
  margin-bottom: 4%;
}
.diamond-navlink07 {
  color: #c4c4c4;
  text-decoration: underline;
}
.diamond-navlink08 {
  color: #c4c4c4;
  text-decoration: underline;
}
.diamond-li3 {
  margin-top: 4%;
  margin-bottom: 4%;
}
.diamond-navlink09 {
  color: #c4c4c4;
  text-decoration: underline;
}
.diamond-navlink10 {
  color: #c4c4c4;
  text-decoration: underline;
}
.diamond-li5 {
  margin-top: 4%;
  margin-bottom: 4%;
}
.diamond-navlink11 {
  color: #c4c4c4;
  text-decoration: underline;
}
.diamond-navlink12 {
  color: #c4c4c4;
  text-decoration: underline;
}
.diamond-li7 {
  margin-top: 4%;
  margin-bottom: 4%;
}
.diamond-navlink13 {
  color: #c4c4c4;
  margin-top: 0%;
  margin-bottom: 0%;
  text-decoration: underline;
}
.diamond-navlink14 {
  color: #c4c4c4;
  text-decoration: underline;
}
.diamond-bottom {
  width: 100%;
  height: 209px;
  display: flex;
  max-width: 1200px;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  user-select: none;
  flex-direction: column;
}
.diamond-branding {
  width: 153px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);;
  height: 131px;
  margin-bottom: 0px;
}
.diamond-text58 {
  color: rgb(104, 104, 104);
  font-size: 14px;
  line-height: 30px;
}
@media(max-width: 1200px) {
  .diamond-text04 {
    margin-top: 25%;
  }
  .diamond-pricing {
    height: 400px;
  }
  .diamond-image {
    width: 375px;
    height: 400px;
    border-radius: 20%;
  }
  .diamond-pricing1 {
    height: 400px;
  }
  .diamond-image1 {
    width: 375px;
    height: 400px;
  }
  .diamond-container4 {
    height: 400px;
  }
  .diamond-pricing2 {
    height: 400px;
  }
  .diamond-text24 {
    color: rgb(255, 255, 255);
    font-size: 60px;
  }
  .diamond-image2 {
    width: 375px;
    height: 400px;
  }
  .diamond-pricing3 {
    height: 400px;
  }
  .diamond-image3 {
    width: 375px;
    height: 400px;
    margin-top: 9%;
  }
  .diamond-text30 {
    color: rgb(255, 255, 255);
    font-size: 60px;
  }
  .diamond-text31 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
  }
  .diamond-container7 {
    margin-top: 30%;
  }
  .diamond-textinput {
    width: 20%;
  }
  .diamond-footer {
    height: 1269px;
  }
}
@media(max-width: 991px) {
  .diamond-close-mobile-menu {
    align-items: center;
    justify-content: center;
  }
  .diamond-desktop-navigation {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .diamond-centered {
    padding-left: 1%;
    padding-right: 1%;
  }
  .diamond-left {
    margin-left: var(--dl-space-space-halfunit);
  }
  .diamond-logo1 {
    width: 64px;
  }
  .diamond-links1 {
    display: none;
  }
  .diamond-get-started {
    display: none;
  }
  .diamond-mobile-menu-button {
    display: flex;
  }
  .diamond-pricing {
    height: 300px;
    align-items: center;
    justify-items: center;
  }
  .diamond-text06 {
    color: rgb(255, 255, 255);
    font-size: 200%;
  }
  .diamond-text07 {
    color: rgb(255, 255, 255);
    font-size: 100%;
    font-weight: 500;
  }
  .diamond-image {
    width: 300px;
    height: 300px;
    margin-bottom: 0px;
  }
  .diamond-pricing1 {
    height: 300px;
  }
  .diamond-image1 {
    width: 300px;
    height: 300px;
    margin-bottom: 0px;
  }
  .diamond-container4 {
    height: 300px;
  }
  .diamond-text15 {
    color: rgb(255, 255, 255);
    font-size: 200%;
  }
  .diamond-text16 {
    color: rgb(255, 255, 255);
    font-size: 100%;
    font-style: normal;
    font-weight: 500;
  }
  .diamond-pricing2 {
    height: 300px;
  }
  .diamond-text24 {
    color: rgb(255, 255, 255);
    font-size: 200%;
  }
  .diamond-text25 {
    color: rgb(255, 255, 255);
    font-size: 100%;
    font-weight: 500;
  }
  .diamond-image2 {
    width: 300px;
    height: 300px;
    margin-bottom: 0px;
  }
  .diamond-pricing3 {
    height: 300px;
    margin-bottom: 2%;
  }
  .diamond-image3 {
    width: 300px;
    height: 300px;
    margin-bottom: 0px;
  }
  .diamond-text30 {
    color: rgb(255, 255, 255);
    font-size: 200%;
  }
  .diamond-text31 {
    color: rgb(255, 255, 255);
    font-size: 100%;
    font-style: normal;
    font-weight: 500;
  }
  .diamond-container7 {
    margin: 10%;
  }
  .diamond-navlink03 {
    width: 30%;
  }
  .diamond-text44 {
    width: 100%;
  }
  .diamond-textinput {
    width: 50%;
  }
  .diamond-button {
    width: fit-content;
  }
  .diamond-footer {
    height: 1982px;
    padding: var(--dl-space-space-sixunits);
    background-color: #395b81;
  }
  .diamond-top {
    flex-direction: column;
  }
  .diamond-right1 {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .diamond-links2 {
    gap: var(--dl-space-space-unit);
  }
  .diamond-links3 {
    gap: var(--dl-space-space-unit);
  }
  .diamond-links4 {
    gap: var(--dl-space-space-unit);
  }
  .diamond-links5 {
    gap: var(--dl-space-space-unit);
  }
  .diamond-bottom {
    margin-top: 60%;
    margin-bottom: 50%;
  }
  .diamond-branding {
    width: 20%;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .diamond-text58 {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 0px;
  }
}
@media(max-width: 767px) {
  .diamond-mobile-navigation {
    top: 0px;
    right: -479px;
  }
  .diamond-desktop-navigation {
    padding-left: 0px;
    padding-right: 0px;
  }
  .diamond-left {
    margin-left: var(--dl-space-space-unit);
  }
  .diamond-right {
    margin-right: var(--dl-space-space-unit);
  }
  .diamond-get-started {
    display: none;
  }
  .diamond-pricing {
    height: fit-content;
  }
  .diamond-text06 {
    font-size: 170%;
  }
  .diamond-text07 {
    font-size: 100%;
  }
  .diamond-image {
    height: 50%;
    margin-bottom: 0px;
  }
  .diamond-pricing1 {
    height: fit-content;
  }
  .diamond-image1 {
    height: 50%;
    margin-bottom: 0px;
  }
  .diamond-text15 {
    color: rgb(255, 255, 255);
    font-size: 150%;
  }
  .diamond-text16 {
    color: rgb(255, 255, 255);
    font-size: 100%;
    font-style: normal;
    font-weight: 500;
  }
  .diamond-pricing2 {
    height: fit-content;
  }
  .diamond-container5 {
    height: 298px;
  }
  .diamond-text24 {
    font-size: 170%;
  }
  .diamond-text25 {
    font-size: 100%;
  }
  .diamond-image2 {
    height: 50%;
    margin-bottom: 0px;
  }
  .diamond-pricing3 {
    height: fit-content;
  }
  .diamond-image3 {
    width: 220px;
    height: 214px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .diamond-text30 {
    color: rgb(255, 255, 255);
    font-size: 150%;
  }
  .diamond-text31 {
    color: rgb(255, 255, 255);
    font-size: 100%;
    font-style: normal;
    font-weight: 500;
  }
  .diamond-container7 {
    margin-top: 10%;
  }
  .diamond-navlink03 {
    width: 30%;
  }
  .diamond-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .diamond-text44 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .diamond-textinput {
    width: 50%;
  }
  .diamond-button {
    width: fit-content;
  }
  .diamond-footer {
    height: 1908px;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .diamond-bottom {
    margin-top: 60%;
  }
  .diamond-branding {
    width: 20%;
  }
}
@media(max-width: 479px) {
  .diamond-container {
    background-color: rgb(100, 149, 235);
  }
  .diamond-mobile-navigation {
    width: 100%;
    height: 9638px;
    margin-bottom: 0px;
  }
  .diamond-logo {
    margin-left: 0px;
  }
  .diamond-icon {
    align-items: center;
    justify-content: center;
  }
  .diamond-desktop-navigation {
    width: 100%;
  }
  .diamond-centered {
    width: 100%;
    height: var(--dl-size-size-small);
    padding-left: 0%;
    padding-right: 0%;
  }
  .diamond-text04 {
    color: white;
    font-size: 40px;
    margin-top: 35%;
    margin-bottom: 5%;
  }
  .diamond-text05 {
    color: var(--dl-color-gray-white);
    width: 70%;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    padding-left: 2%;
    margin-bottom: 35%;
  }
  .diamond-pricing {
    flex-direction: column;
  }
  .diamond-container3 {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .diamond-text06 {
    color: rgb(255, 255, 255);
    font-size: 150%;
  }
  .diamond-text07 {
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 500;
  }
  .diamond-image {
    width: 80%;
    align-self: center;
    margin-top: 5%;
    margin-bottom: 28px;
  }
  .diamond-pricing1 {
    height: fit-content;
    flex-direction: column-reverse;
    background-color: #C39BD3;
  }
  .diamond-image1 {
    width: 70%;
    height: 50%;
    align-self: center;
    margin-top: 0%;
    margin-bottom: 20px;
  }
  .diamond-container4 {
    width: 100%;
    height: 25%;
    align-items: center;
    margin-bottom: 5%;
    flex-direction: column;
  }
  .diamond-text15 {
    color: rgb(255, 255, 255);
    font-size: 150%;
  }
  .diamond-text16 {
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
  }
  .diamond-pricing2 {
    flex-direction: column;
  }
  .diamond-container5 {
    width: 100%;
    height: 171px;
    align-items: center;
    flex-direction: column;
  }
  .diamond-text24 {
    font-size: 150%;
  }
  .diamond-text25 {
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 500;
  }
  .diamond-image2 {
    width: 60%;
    align-self: center;
    margin-top: 10%;
    margin-bottom: 27px;
  }
  .diamond-pricing3 {
    flex-direction: column-reverse;
  }
  .diamond-image3 {
    width: 65%;
    height: 50%;
    align-self: center;
    margin-top: 0%;
    margin-bottom: 5%;
  }
  .diamond-container6 {
    width: 100%;
    height: 50%;
    align-items: center;
    margin-bottom: 5%;
    flex-direction: column;
  }
  .diamond-text30 {
    color: rgb(255, 255, 255);
    font-size: 150%;
  }
  .diamond-text31 {
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
  }
  .diamond-container7 {
    margin-top: 20%;
    align-items: center;
    flex-direction: column;
  }
  .diamond-navlink03 {
    width: 45%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .diamond-text42 {
    font-size: 12px;
  }
  .diamond-banner {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .diamond-text43 {
    color: var(--dl-color-gray-white);
    font-size: 35px;
  }
  .diamond-container8 {
    align-items: center;
    flex-direction: column;
  }
  .diamond-textinput {
    width: 80%;
  }
  .diamond-button {
    width: fit-content;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .diamond-footer {
    height: 1889px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .diamond-right1 {
    padding-left: 4%;
  }
  .diamond-link1 {
    color: rgb(196, 196, 196);
    font-size: 14px;
  }
  .diamond-bottom {
    margin-top: 90%;
  }
  .diamond-branding {
    width: 154px;
  }
}
