.isolutions-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #7AA7EF;
}
.isolutions-menu {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.isolutions-mobile-navigation {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 150;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.isolutions-logo {
  width: 64px;
}
.isolutions-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
}
.isolutions-close-mobile-menu {
  top: var(--dl-space-space-oneandhalfunits);
  right: var(--dl-space-space-oneandhalfunits);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.isolutions-icon {
  width: 24px;
  height: 24px;
  display: flex;
}
.isolutions-desktop-navigation {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.isolutions-centered {
  width: 50%;
  height: var(--dl-size-size-medium);
  display: flex;
  max-width: 1200px;
  box-sizing: initial;
  align-items: center;
  padding-left: 1%;
  border-radius: 50px;
  padding-right: 2%;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
.isolutions-left {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 38px;
  flex-direction: row;
  padding-bottom: 38px;
}
.isolutions-navlink {
  display: contents;
}
.isolutions-logo1 {
  width: 105px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-halfunit);
  text-decoration: none;
}

.isolutions-links1 {
  display: flex;
  align-items: center;
  margin-left: 33px;
  flex-direction: row;
}
.isolutions-navlink1 {
  transition: 0.3s;
  text-decoration: none;
}
.isolutions-navlink1:hover {
  color: #797979;
}
.isolutions-navlink2 {
  transition: 0.3s;
  text-decoration: none;
}
.isolutions-navlink2:hover {
  color: #797979;
}
.isolutions-right {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.isolutions-burger-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.isolutions-mobile-menu-button {
  width: 40px;
  height: 40px;
  display: none;
}
.isolutions-text003 {
  color: white;
  font-size: 70px;
  margin-top: 5%;
}
.isolutions-text004 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 500;
}
.isolutions-pricing {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  margin-bottom: 20%;
  flex-direction: column;
}
.isolutions-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  margin-top: 13%;
  margin-bottom: 8%;
  flex-direction: column;
}
.isolutions-text005 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  text-align: center;
  padding-top: 2%;
  border-color: #ffffff;
  border-width: 15px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 0%;
  padding-bottom: 2%;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.isolutions-container1 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  padding-top: 5%;
  border-color: #ffffff;
  border-width: 15px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-bottom: 5%;
  border-top-width: 0px;
  grid-template-columns: 1fr 1fr;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}
.isolutions-text006 {
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-sixunits);
}
.isolutions-text007 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-text008 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-text009 {
  color: var(--dl-color-gray-white);
}
.isolutions-text010 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text011 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text012 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text013 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text014 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text015 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text016 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text021 {
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-sixunits);
}
.isolutions-text022 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-text023 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text024 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text025 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text026 {
  color: var(--dl-color-gray-white);
}
.isolutions-text027 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text028 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-card {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  border-radius: 30px;
  margin-bottom: 20%;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: var(--dl-color-gray-white);
}
.isolutions-container2 {
  display: flex;
  min-width: 150px;
  align-items: center;
  flex-direction: column;
}
.isolutions-text033 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
}
.isolutions-text034 {
  margin: var(--dl-space-space-halfunit);
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
}
.isolutions-text035 {
  font-size: 1.5rem;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 300;
}
.isolutions-text036 {
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-sixunits);
}
.isolutions-button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-unit);
  margin-right: 2%;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.isolutions-button:hover {
  transform: scale(1.02);
  background-color: #7AA7EF;
}
.isolutions-features1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  margin-top: 15%;
  padding-top: 48px;
  flex-direction: column;
}
.isolutions-text037 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  text-align: center;
  padding-top: 2%;
  border-color: #ffffff;
  border-width: 15px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-bottom: 2%;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.isolutions-container3 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  padding-top: 5%;
  border-color: #ffffff;
  border-width: 15px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 8%;
  padding-bottom: 5%;
  border-top-width: 0px;
  grid-template-columns: 1fr 1fr;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}
.isolutions-text038 {
  font-style: normal;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
}
.isolutions-text039 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-weight: 800;
}
.isolutions-text040 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-weight: 800;
}
.isolutions-text041 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-weight: 800;
}
.isolutions-text042 {
  color: var(--dl-color-gray-white);
  font-weight: 600;
}
.isolutions-text043 {
  color: var(--dl-color-gray-white);
  font-weight: 600;
}
.isolutions-text044 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-weight: 600;
}
.isolutions-text045 {
  color: var(--dl-color-gray-white);
  font-weight: 600;
}
.isolutions-text046 {
  color: var(--dl-color-gray-white);
  font-weight: 600;
}
.isolutions-text047 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-weight: 600;
}
.isolutions-text048 {
  color: var(--dl-color-gray-white);
  font-weight: 600;
}
.isolutions-text049 {
  font-weight: 600;
}
.isolutions-text050 {
  font-size: 28px;
  font-weight: 800;
}
.isolutions-text051 {
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
}
.isolutions-text052 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-text053 {
  color: var(--dl-color-gray-white);
}
.isolutions-text054 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-text055 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text056 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text057 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
}
.isolutions-text058 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text059 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text060 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
}
.isolutions-text061 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text065 {
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-sixunits);
}
.isolutions-text066 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-text067 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-text068 {
  color: var(--dl-color-gray-white);
}
.isolutions-text069 {
  color: var(--dl-color-gray-white);
}
.isolutions-text070 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text071 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text072 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text073 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text074 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text075 {
  color: var(--dl-color-gray-white);
}
.isolutions-text077 {
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-card1 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  border-radius: 30px;
  margin-bottom: 20%;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: var(--dl-color-gray-white);
}
.isolutions-container4 {
  display: flex;
  min-width: 150px;
  align-items: center;
  flex-direction: column;
}
.isolutions-text078 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
}
.isolutions-text079 {
  margin: var(--dl-space-space-halfunit);
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
}
.isolutions-text080 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
}
.isolutions-text081 {
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-sixunits);
}
.isolutions-button1 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-unit);
  margin-right: 2%;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.isolutions-button1:hover {
  transform: scale(1.02);
  background-color: #7AA7EF;
}
.isolutions-features2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  margin-top: 15%;
  margin-bottom: 8%;
  flex-direction: column;
}
.isolutions-text082 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  text-align: center;
  padding-top: 2%;
  border-color: #ffffff;
  border-width: 15px;
  border-radius: 0px;
  padding-bottom: 2%;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
}
.isolutions-container5 {
  width: 100%;
  display: grid;
  padding: 5%;
  grid-gap: var(--dl-space-space-twounits);
  border-color: #ffffff;
  border-width: 15px;
  border-radius: 0px;
  border-top-width: 0px;
  grid-template-columns: 1fr 1fr;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}
.isolutions-text083 {
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-sixunits);
}
.isolutions-text084 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-text085 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-text086 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-weight: 600;
}
.isolutions-text087 {
  color: var(--dl-color-gray-white);
  font-weight: 600;
}
.isolutions-text088 {
  color: var(--dl-color-gray-white);
}
.isolutions-text089 {
  color: var(--dl-color-gray-white);
  font-weight: 600;
}
.isolutions-text090 {
  color: var(--dl-color-gray-white);
  font-weight: 600;
}
.isolutions-text091 {
  color: var(--dl-color-gray-white);
}
.isolutions-text092 {
  color: var(--dl-color-gray-white);
  font-weight: 600;
}
.isolutions-text093 {
  color: var(--dl-color-gray-white);
  font-weight: 600;
}
.isolutions-text094 {
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-text095 {
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-sixunits);
}
.isolutions-text096 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-text097 {
  color: var(--dl-color-gray-white);
}
.isolutions-text098 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-text099 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text100 {
  color: var(--dl-color-gray-white);
}
.isolutions-text101 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text102 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text103 {
  color: var(--dl-color-gray-white);
}
.isolutions-text104 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text105 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text106 {
  color: var(--dl-color-gray-white);
}
.isolutions-text107 {
  font-style: normal;
  font-weight: 600;
}
.isolutions-text111 {
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-sixunits);
}
.isolutions-text112 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-text113 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-text114 {
  color: var(--dl-color-gray-white);
}
.isolutions-text115 {
  color: var(--dl-color-gray-white);
}
.isolutions-text116 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text117 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text118 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text119 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text120 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text121 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text122 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text123 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text124 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text125 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text128 {
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-text129 {
  text-align: left;
  margin-left: 8%;
}
.isolutions-text130 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-text131 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-text132 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-weight: 600;
}
.isolutions-text133 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text134 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text135 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text136 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text137 {
  font-style: normal;
  font-weight: 600;
}
.isolutions-text138 {
  color: var(--dl-color-gray-white);
  font-weight: 600;
}
.isolutions-text139 {
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-card2 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  border-radius: 30px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: var(--dl-color-gray-white);
}
.isolutions-container6 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.isolutions-container7 {
  display: flex;
  min-width: 150px;
  align-items: center;
  flex-direction: column;
}
.isolutions-text140 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
}
.isolutions-text141 {
  margin: var(--dl-space-space-halfunit);
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
}
.isolutions-text142 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
}
.isolutions-text143 {
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-sixunits);
}
.isolutions-button2 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-unit);
  margin-right: 2%;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.isolutions-button2:hover {
  transform: scale(1.02);
  background-color: #7AA7EF;
}
.isolutions-banner {
  width: 100%;
  height: 491px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: space-between;
  background-image: url('https://images.unsplash.com/photo-1485628390555-1a7bd503f9fe?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE3fHxhcmNoaXRlY3R1cmUlMjBtaW5pbWFsfGVufDB8fHx8MTYyNjE4NDA0Mg&ixlib=rb-1.2.1&w=1500');
  background-position: center;
}
.isolutions-text144 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1%;
}
.isolutions-text145 {
  color: var(--dl-color-gray-white);
  max-width: var(--dl-size-size-maxwidth);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.isolutions-container8 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.isolutions-textinput {
  width: 25%;
  height: 40px;
  font-size: 0.75rem;
  border-color: var(--dl-color-gray-500);
  border-radius: 20px;
  margin-bottom: 5%;
}
.isolutions-button3 {
  color: var(--dl-color-gray-white);
  width: 7%;
  height: 40px;
  font-size: 0.75rem;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-radius: 20px;
  background-color: var(--dl-color-gray-black);
}
.isolutions-button3:hover {
  color: var(--dl-color-gray-black);
  background-color: transparent;
}
.isolutions-footer {
  width: 100%;
  height: 873px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sevenunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sevenunits);
  background-image: linear-gradient(0deg, rgb(189, 195, 199) 0.00%,rgb(122, 167, 239) 100.00%);
}
.isolutions-top {
  width: 100%;
  display: flex;
  max-width: 1200px;
  border-color: #3B3B3B;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
.isolutions-right1 {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: flex-start;
}
.isolutions-category {
  width: 240px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.isolutions-text146 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.isolutions-links2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.isolutions-text147 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
}
.isolutions-text148 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.isolutions-text149 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.isolutions-text150 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.isolutions-text151 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.isolutions-category1 {
  width: 240px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.isolutions-text152 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.isolutions-links3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.isolutions-navlink3 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
.isolutions-text153 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.isolutions-text154 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.isolutions-text155 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.isolutions-text156 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.isolutions-text157 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.isolutions-category2 {
  width: 240px;
  display: flex;
  flex-direction: column;
}
.isolutions-text158 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.isolutions-links4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.isolutions-text159 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.isolutions-text160 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.isolutions-text161 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.isolutions-text162 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.isolutions-text163 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.isolutions-bottom {
  width: 100%;
  display: flex;
  max-width: 1200px;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  user-select: none;
  flex-direction: column;
}
.isolutions-branding {
  width: 153px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);;
  height: 131px;
  margin-bottom: 0px;
}
.isolutions-text164 {
  color: rgb(104, 104, 104);
  font-size: 14px;
  line-height: 30px;
}
@media(max-width: 1200px) {
  .isolutions-textinput {
    width: 20%;
  }
}
@media(max-width: 991px) {
  .isolutions-close-mobile-menu {
    align-items: center;
    justify-content: center;
  }
  .isolutions-desktop-navigation {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .isolutions-centered {
    height: 48%;
    padding-left: 1%;
    padding-right: 1%;
  }
  .isolutions-left {
    margin-left: var(--dl-space-space-halfunit);
  }
  .isolutions-logo1 {
    width: 64px;
  }
  .isolutions-links1 {
    display: none;
  }
  .isolutions-mobile-menu-button {
    display: flex;
  }
  .isolutions-text006 {
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .isolutions-text021 {
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .isolutions-text034 {
    margin-left: var(--dl-space-space-oneandhalfunits);
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .isolutions-text036 {
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .isolutions-button {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .isolutions-text038 {
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .isolutions-text051 {
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .isolutions-text065 {
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .isolutions-text079 {
    margin-left: var(--dl-space-space-oneandhalfunits);
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .isolutions-text081 {
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .isolutions-button1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .isolutions-text083 {
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .isolutions-text095 {
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .isolutions-text111 {
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .isolutions-text129 {
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .isolutions-text141 {
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .isolutions-text143 {
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .isolutions-button2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .isolutions-text145 {
    width: 100%;
  }
  .isolutions-textinput {
    width: 20%;
  }
  .isolutions-button3 {
    width: fit-content;
  }
  .isolutions-footer {
    padding: var(--dl-space-space-sixunits);
    background-color: #395b81;
  }
  .isolutions-top {
    flex-direction: column;
  }
  .isolutions-right1 {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .isolutions-links2 {
    gap: var(--dl-space-space-unit);
  }
  .isolutions-links3 {
    gap: var(--dl-space-space-unit);
  }
  .isolutions-links4 {
    gap: var(--dl-space-space-unit);
  }
  .isolutions-branding {
    width: var(--dl-size-size-medium);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .isolutions-text164 {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 0px;
  }
}
@media(max-width: 767px) {
  .isolutions-mobile-navigation {
    top: 0px;
    right: -479px;
  }
  .isolutions-desktop-navigation {
    padding-left: 0px;
    padding-right: 0px;
  }
  .isolutions-left {
    margin-left: var(--dl-space-space-unit);
  }
  .isolutions-right {
    margin-right: var(--dl-space-space-unit);
  }
  .isolutions-pricing {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .isolutions-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .isolutions-container1 {
    grid-template-columns: 1fr;
  }
  .isolutions-text006 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .isolutions-text021 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .isolutions-card {
    width: 100%;
    flex-direction: column;
  }
  .isolutions-text036 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .isolutions-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .isolutions-container3 {
    grid-template-columns: 1fr;
  }
  .isolutions-text038 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .isolutions-text051 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .isolutions-text065 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .isolutions-card1 {
    width: 100%;
    flex-direction: column;
  }
  .isolutions-text081 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .isolutions-features2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .isolutions-container5 {
    grid-template-columns: 1fr;
  }
  .isolutions-text083 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .isolutions-text095 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .isolutions-text111 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .isolutions-text129 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .isolutions-card2 {
    width: 100%;
    flex-direction: column;
  }
  .isolutions-text143 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .isolutions-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .isolutions-text145 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .isolutions-button3 {
    width: fit-content;
  }
  .isolutions-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .isolutions-container {
    background-color: #7AA7EF;
  }
  .isolutions-mobile-navigation {
    height: 9638px;
    margin-bottom: 0px;
  }
  .isolutions-logo {
    margin-left: 0px;
  }
  .isolutions-icon {
    align-items: center;
    justify-content: center;
  }
  .isolutions-centered {
    width: 100%;
    height: var(--dl-size-size-small);
  }
  .isolutions-pricing {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .isolutions-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .isolutions-text006 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .isolutions-text021 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .isolutions-text036 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .isolutions-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .isolutions-text038 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .isolutions-text051 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .isolutions-text065 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .isolutions-text081 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .isolutions-features2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .isolutions-text083 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .isolutions-text095 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .isolutions-text111 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .isolutions-text129 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .isolutions-text143 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .isolutions-banner {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .isolutions-container8 {
    align-items: center;
    flex-direction: column;
  }
  .isolutions-textinput {
    width: 80%;
  }
  .isolutions-button3 {
    width: fit-content;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .isolutions-footer {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .isolutions-text159 {
    color: rgb(196, 196, 196);
    font-size: 14px;
  }
  .isolutions-branding {
    width: 154px;
  }
}
