.isolutions-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #7AA7EF;
}
.isolutions-text {
  color: white;
  font-size: 70px;
  margin-top: 5%;
}
.isolutions-text001 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 500;
}
.isolutions-pricing {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  margin-bottom: 20%;
  flex-direction: column;
}
.isolutions-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  margin-top: 13%;
  margin-bottom: 13%;
  flex-direction: column;
}
.isolutions-text002 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  text-align: center;
  margin-bottom: 7%;
}
.isolutions-container1 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr;
}
.isolutions-text003 {
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-sixunits);
}
.isolutions-text004 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-text005 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-text006 {
  color: var(--dl-color-gray-white);
}
.isolutions-text007 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text008 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text009 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text010 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text011 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text012 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text013 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text018 {
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-sixunits);
}
.isolutions-text019 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-text020 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text021 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text022 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text023 {
  color: var(--dl-color-gray-white);
}
.isolutions-text024 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text025 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-card {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  border-radius: 30px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: var(--dl-color-gray-white);
}
.isolutions-container2 {
  display: flex;
  min-width: 150px;
  align-items: center;
  flex-direction: column;
}
.isolutions-text030 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
}
.isolutions-text031 {
  margin: var(--dl-space-space-halfunit);
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
}
.isolutions-text032 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
}
.isolutions-text033 {
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-sixunits);
}
.isolutions-button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-unit);
  margin-right: 2%;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.isolutions-button:hover {
  transform: scale(1.02);
  background-color: #7AA7EF;
}
.isolutions-features1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  margin-top: 15%;
  padding-top: 48px;
  flex-direction: column;
}
.isolutions-text036 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  text-align: center;
  margin-bottom: 7%;
}
.isolutions-container3 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr;
}
.isolutions-text037 {
  font-style: normal;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-sixunits);
}
.isolutions-text038 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-weight: 800;
}
.isolutions-text039 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-weight: 800;
}
.isolutions-text040 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-weight: 800;
}
.isolutions-text041 {
  color: var(--dl-color-gray-white);
  font-weight: 600;
}
.isolutions-text042 {
  color: var(--dl-color-gray-white);
  font-weight: 600;
}
.isolutions-text043 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-weight: 600;
}
.isolutions-text044 {
  color: var(--dl-color-gray-white);
  font-weight: 600;
}
.isolutions-text045 {
  color: var(--dl-color-gray-white);
  font-weight: 600;
}
.isolutions-text046 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-weight: 600;
}
.isolutions-text047 {
  color: var(--dl-color-gray-white);
  font-weight: 600;
}
.isolutions-text048 {
  font-weight: 600;
}
.isolutions-text049 {
  font-size: 28px;
  font-weight: 800;
}
.isolutions-text050 {
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-sixunits);
}
.isolutions-text051 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-text052 {
  color: var(--dl-color-gray-white);
}
.isolutions-text053 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-text054 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text055 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text056 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
}
.isolutions-text057 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text058 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text059 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
}
.isolutions-text060 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text064 {
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-sixunits);
}
.isolutions-text065 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-text066 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-text067 {
  color: var(--dl-color-gray-white);
}
.isolutions-text068 {
  color: var(--dl-color-gray-white);
}
.isolutions-text069 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text070 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text071 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text072 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text073 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text074 {
  color: var(--dl-color-gray-white);
}
.isolutions-text076 {
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-card1 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  border-radius: 30px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: var(--dl-color-gray-white);
}
.isolutions-container4 {
  display: flex;
  min-width: 150px;
  align-items: center;
  flex-direction: column;
}
.isolutions-text077 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
}
.isolutions-text078 {
  margin: var(--dl-space-space-halfunit);
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
}
.isolutions-text079 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
}
.isolutions-text080 {
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-sixunits);
}
.isolutions-text081 {
  font-style: normal;
  font-weight: 400;
}
.isolutions-button1 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-unit);
  margin-right: 2%;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.isolutions-button1:hover {
  transform: scale(1.02);
  background-color: #7AA7EF;
}
.isolutions-features2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  margin-top: 15%;
  flex-direction: column;
}
.isolutions-text085 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  text-align: center;
  margin-bottom: 7%;
}
.isolutions-container5 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr;
}
.isolutions-text086 {
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-sixunits);
}
.isolutions-text087 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-text088 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-text089 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-weight: 600;
}
.isolutions-text090 {
  color: var(--dl-color-gray-white);
  font-weight: 600;
}
.isolutions-text091 {
  color: var(--dl-color-gray-white);
}
.isolutions-text092 {
  color: var(--dl-color-gray-white);
  font-weight: 600;
}
.isolutions-text093 {
  color: var(--dl-color-gray-white);
  font-weight: 600;
}
.isolutions-text094 {
  color: var(--dl-color-gray-white);
}
.isolutions-text095 {
  color: var(--dl-color-gray-white);
  font-weight: 600;
}
.isolutions-text096 {
  color: var(--dl-color-gray-white);
  font-weight: 600;
}
.isolutions-text097 {
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-text098 {
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-sixunits);
}
.isolutions-text099 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-text100 {
  color: var(--dl-color-gray-white);
}
.isolutions-text101 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-text102 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text103 {
  color: var(--dl-color-gray-white);
}
.isolutions-text104 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text105 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text106 {
  color: var(--dl-color-gray-white);
}
.isolutions-text107 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text108 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text109 {
  color: var(--dl-color-gray-white);
}
.isolutions-text110 {
  font-style: normal;
  font-weight: 600;
}
.isolutions-text114 {
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-sixunits);
}
.isolutions-text115 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-text116 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-text117 {
  color: var(--dl-color-gray-white);
}
.isolutions-text118 {
  color: var(--dl-color-gray-white);
}
.isolutions-text119 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text120 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text121 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text122 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text123 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text124 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text125 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text126 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text127 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text128 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text131 {
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-text132 {
  text-align: left;
  margin-left: 8%;
}
.isolutions-text133 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-text134 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-text135 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-weight: 600;
}
.isolutions-text136 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text137 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text138 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text139 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.isolutions-text140 {
  font-style: normal;
  font-weight: 600;
}
.isolutions-text141 {
  color: var(--dl-color-gray-white);
  font-weight: 600;
}
.isolutions-text142 {
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.isolutions-card2 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  border-radius: 30px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: var(--dl-color-gray-white);
}
.isolutions-container6 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.isolutions-container7 {
  display: flex;
  min-width: 150px;
  align-items: center;
  flex-direction: column;
}
.isolutions-text143 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
}
.isolutions-text144 {
  margin: var(--dl-space-space-halfunit);
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
}
.isolutions-text145 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
}
.isolutions-text146 {
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-sixunits);
}
.isolutions-text147 {
  font-style: normal;
  font-weight: 400;
}
.isolutions-button2 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-unit);
  margin-right: 2%;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.isolutions-button2:hover {
  transform: scale(1.02);
  background-color: #7AA7EF;
}
.isolutions-banner {
  width: 100%;
  height: 409px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: space-between;
  background-image: url('https://images.unsplash.com/photo-1485628390555-1a7bd503f9fe?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE3fHxhcmNoaXRlY3R1cmUlMjBtaW5pbWFsfGVufDB8fHx8MTYyNjE4NDA0Mg&ixlib=rb-1.2.1&w=1500');
  background-position: center;
}
.isolutions-text151 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1%;
}
.isolutions-text152 {
  color: var(--dl-color-gray-white);
  max-width: var(--dl-size-size-maxwidth);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.isolutions-container8 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.isolutions-textinput {
  width: 25%;
  height: 40px;
  font-size: 0.75rem;
  border-color: var(--dl-color-gray-500);
  border-radius: 20px;
  margin-bottom: 5%;
}
.isolutions-button3 {
  color: var(--dl-color-gray-white);
  width: 7%;
  height: 40px;
  font-size: 0.75rem;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-radius: 20px;
  background-color: var(--dl-color-gray-black);
}
.isolutions-button3:hover {
  color: var(--dl-color-gray-black);
  background-color: transparent;
}
.isolutions-footer {
  width: 100%;
  height: 892px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sevenunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sevenunits);
  background-color: #6495eb;
}
.isolutions-top {
  width: 100%;
  display: flex;
  max-width: 1200px;
  border-color: #3B3B3B;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
.isolutions-right {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: flex-start;
}
.isolutions-category {
  width: 240px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.isolutions-text153 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.isolutions-links {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.isolutions-text154 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
}
.isolutions-text155 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.isolutions-text156 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.isolutions-text157 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.isolutions-text158 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.isolutions-category1 {
  width: 240px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.isolutions-text159 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.isolutions-links1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.isolutions-text160 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.isolutions-text161 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.isolutions-text162 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.isolutions-text163 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.isolutions-text164 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.isolutions-text165 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.isolutions-category2 {
  width: 240px;
  display: flex;
  flex-direction: column;
}
.isolutions-text166 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.isolutions-links2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.isolutions-text167 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.isolutions-text168 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.isolutions-text169 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.isolutions-text170 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.isolutions-text171 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.isolutions-bottom {
  width: 100%;
  display: flex;
  max-width: 1200px;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  user-select: none;
  flex-direction: column;
}
.isolutions-branding {
  width: 153px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);;
  height: 131px;
  margin-bottom: 0px;
}
.isolutions-text172 {
  color: rgb(104, 104, 104);
  font-size: 14px;
  line-height: 30px;
}
@media(max-width: 1200px) {
  .isolutions-textinput {
    width: 20%;
  }
}
@media(max-width: 991px) {
  .isolutions-text003 {
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .isolutions-text018 {
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .isolutions-text031 {
    margin-left: var(--dl-space-space-oneandhalfunits);
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .isolutions-text033 {
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .isolutions-button {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .isolutions-text037 {
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .isolutions-text050 {
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .isolutions-text064 {
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .isolutions-text078 {
    margin-left: var(--dl-space-space-oneandhalfunits);
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .isolutions-text080 {
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .isolutions-button1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .isolutions-text086 {
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .isolutions-text098 {
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .isolutions-text114 {
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .isolutions-text132 {
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .isolutions-text144 {
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .isolutions-text146 {
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .isolutions-button2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .isolutions-text152 {
    width: 100%;
  }
  .isolutions-textinput {
    width: 20%;
  }
  .isolutions-button3 {
    width: fit-content;
  }
  .isolutions-footer {
    padding: var(--dl-space-space-sixunits);
    background-color: #395b81;
  }
  .isolutions-top {
    flex-direction: column;
  }
  .isolutions-right {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .isolutions-links {
    gap: var(--dl-space-space-unit);
  }
  .isolutions-links1 {
    gap: var(--dl-space-space-unit);
  }
  .isolutions-links2 {
    gap: var(--dl-space-space-unit);
  }
  .isolutions-branding {
    width: var(--dl-size-size-medium);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .isolutions-text172 {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 0px;
  }
}
@media(max-width: 767px) {
  .isolutions-pricing {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .isolutions-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .isolutions-container1 {
    grid-template-columns: 1fr;
  }
  .isolutions-text003 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .isolutions-text018 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .isolutions-card {
    width: 100%;
    flex-direction: column;
  }
  .isolutions-text033 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .isolutions-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .isolutions-container3 {
    grid-template-columns: 1fr;
  }
  .isolutions-text037 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .isolutions-text050 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .isolutions-text064 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .isolutions-card1 {
    width: 100%;
    flex-direction: column;
  }
  .isolutions-text080 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .isolutions-features2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .isolutions-container5 {
    grid-template-columns: 1fr;
  }
  .isolutions-text086 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .isolutions-text098 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .isolutions-text114 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .isolutions-text132 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .isolutions-card2 {
    width: 100%;
    flex-direction: column;
  }
  .isolutions-text146 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .isolutions-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .isolutions-text152 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .isolutions-button3 {
    width: fit-content;
  }
  .isolutions-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .isolutions-container {
    background-color: #7AA7EF;
  }
  .isolutions-pricing {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .isolutions-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .isolutions-text003 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .isolutions-text018 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .isolutions-text033 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .isolutions-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .isolutions-text037 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .isolutions-text050 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .isolutions-text064 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .isolutions-text080 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .isolutions-features2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .isolutions-text086 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .isolutions-text098 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .isolutions-text114 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .isolutions-text132 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .isolutions-text146 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .isolutions-banner {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .isolutions-container8 {
    align-items: center;
    flex-direction: column;
  }
  .isolutions-textinput {
    width: 80%;
  }
  .isolutions-button3 {
    width: fit-content;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .isolutions-footer {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .isolutions-text167 {
    color: rgb(196, 196, 196);
    font-size: 14px;
  }
  .isolutions-branding {
    width: 154px;
  }
}
