.you-tube-you-tube {
  width: 240px;
  height: 120px;
  display: flex;
  align-items: center;
  border-radius: 200px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.you-tube-pasted-image {
  width: 120px;
}
@media(max-width: 479px) {
  .you-tube-you-tube {
    width: 120px;
    height: 60px;
    align-items: center;
  }
  .you-tube-pasted-image {
    width: 80px;
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  overflow-x: hidden;
  flex-direction: column;
  background-color: rgb(100, 149, 235);
}
.home-hero {
  width: 100%;
  height: 1125px;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  background-image: linear-gradient(0deg, rgb(189, 195, 199) 0.00%,rgb(100, 149, 235) 100.00%);
}
.home-menu {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-mobile-navigation {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 150;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-logo {
  width: 64px;
}
.home-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
}
.home-links1 {
  flex-direction: column;
}
.home-text {
  text-decoration: none;
}
.home-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.home-text001 {
  width: 100%;
  font-size: 20px;
  max-width: 760px;
  font-style: normal;
  font-weight: 500;
}
.home-content {
  flex-direction: column;
}
.home-navlink {
  margin-bottom: 10px;
  text-decoration: none;
}
.home-navlink01 {
  margin-bottom: 10px;
  text-decoration: none;
}
.home-navlink02 {
  text-decoration: none;
}
.home-accordion-code {
  display: contents;
}
.home-close-mobile-menu {
  top: var(--dl-space-space-oneandhalfunits);
  right: var(--dl-space-space-oneandhalfunits);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-icon02 {
  width: 24px;
  height: 24px;
  display: flex;
}
.home-desktop-navigation {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-centered {
  width: 130%;
  height: var(--dl-size-size-medium);
  display: flex;
  position: fixed;
  max-width: 100%;
  box-sizing: initial;
  align-items: center;
  padding-left: 5%;
  padding-right: 7%;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(57, 91, 129, 0.6);
}
.home-left {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 3%;
  padding-top: 38px;
  flex-direction: row;
  padding-bottom: 38px;
}
.home-navlink03 {
  display: contents;
}
.home-logo1 {
  width: 105px;
  margin-left: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.home-links2 {
  display: flex;
  align-items: center;
  margin-left: 33px;
  flex-direction: row;
}
.home-text002 {
  color: #ffffff;
  text-decoration: none;
}
.home-link {
  color: #ffffff;
  text-decoration: none;
}
.home-navlink04 {
  color: #ffffff;
  text-decoration: none;
}
.home-navlink05 {
  color: #ffffff;
  text-decoration: none;
}
.home-right {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-link1 {
  display: contents;
}
.home-get-started {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #213852;
}
.home-get-started:hover {
  background-color: #7AA7EF;
}
.home-text003 {
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
}
.home-burger-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-mobile-menu-button {
  width: 40px;
  height: 40px;
  display: none;
}
.home-menu-code {
  display: contents;
}
.home-header1 {
  height: fit-content;
  display: flex;
  align-self: center;
  margin-top: 15%;
  align-items: center;
  padding-top: 40px;
  justify-self: center;
}
.home-header2 {
  width: 50%;
  height: 424px;
  display: flex;
  align-items: center;
  padding-top: 40px;
  flex-direction: column;
}
.home-text004 {
  color: rgb(255, 255, 255);
  height: 168px;
  z-index: 100;
  font-size: 72px;
  font-style: normal;
  margin-top: 0%;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 80px;
}
.home-text005 {
  font-size: 40px;
}
.home-text006 {
  font-size: 50px;
}
.home-text007 {
  color: rgb(238, 233, 254);
  width: 909px;
  height: 175px;
  z-index: 100;
  font-size: 25px;
  max-width: 800px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 40px;
}
.home-image {
  width: 50%;
  object-fit: cover;
}
.home-container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: none;
  margin-top: 5%;
  align-items: flex-start;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  justify-content: center;
}
.home-get-started1 {
  margin-top: 0%;
  transition: 0.3s;
  align-items: center;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 10%;
  justify-content: center;
  text-decoration: none;
}
.home-get-started1:hover {
  color: var(--dl-color-gray-white);
  background-color: #395b81;
}
.home-text008 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.home-features {
  width: 100%;
  display: flex;
  z-index: 1;
  position: relative;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgb(189, 195, 199) 0.00%,rgb(100, 149, 235) 100.00%);
}
.home-container02 {
  flex: 0 0 auto;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-image01 {
  width: 589px;
  height: 547px;
  z-index: 100;
  object-fit: cover;
}
.home-header3 {
  height: 424px;
  display: flex;
  align-items: center;
  padding-top: 40px;
  flex-direction: column;
}
.home-text009 {
  color: rgb(255, 255, 255);
  height: 168px;
  z-index: 100;
  font-size: 40px;
  font-style: normal;
  margin-top: 0%;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 80px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text010 {
  color: rgb(238, 233, 254);
  width: 909px;
  height: 175px;
  z-index: 100;
  font-size: 25px;
  max-width: 800px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 40px;
}
.home-text014 {
  color: #eee9fe;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
.home-text016 {
  color: #eee9fe;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
.home-text018 {
  color: #eee9fe;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
.home-text020 {
  color: #eee9fe;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
.home-text022 {
  color: #eee9fe;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
.home-text024 {
  color: #eee9fe;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
.home-text026 {
  color: rgb(255, 255, 255);
  display: none;
  font-size: 70px;
  font-style: normal;
  text-align: center;
  font-weight: 900;
  line-height: 72px;
  margin-bottom: 5%;
}
.home-cards {
  width: fit-content;
  height: fit-content;
  display: none;
  grid-gap: var(--dl-space-space-twounits);
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
  grid-template-columns: 1fr 1fr 1fr;
}
.home-schedule {
  width: 407px;
  height: 351px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
}
.home-image02 {
  width: 53px;
  height: 52px;
  object-fit: cover;
}
.home-text027 {
  font-size: 28px;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  font-weight: 700;
}
.home-text028 {
  font-size: 18px;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  font-weight: 600;
}
.home-schedule1 {
  width: 737px;
  height: 100%;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  margin-right: 1px;
  border-radius: 30px;
  justify-content: flex-start;
  text-decoration: none;
  background-color: #ffffff;
}
.home-image03 {
  width: 61px;
  height: 55px;
  object-fit: cover;
}
.home-text029 {
  font-size: 28px;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  font-weight: 700;
}
.home-text030 {
  font-size: 18px;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  font-weight: 600;
}
.home-stats {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  justify-content: center;
  background-image: linear-gradient(180deg,rgb(100, 149, 235),rgb(57, 91, 129) 100.00%);
}
.home-stat {
  width: 40%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  padding-top: 32px;
  flex-direction: row;
}
.home-step {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.home-image04 {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-large);
  object-fit: cover;
  margin-bottom: -10%;
}
.home-text031 {
  color: #ffffff;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
}
.home-text034 {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
}
.home-image05 {
  width: 10%;
  height: 5%;
  margin-top: 6%;
  object-fit: cover;
}
.home-stat1 {
  width: 40%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  padding-top: 32px;
  flex-direction: row;
}
.home-step1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.home-image06 {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-large);
  object-fit: cover;
  margin-bottom: -15%;
}
.home-text037 {
  color: #ffffff;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
}
.home-text038 {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
}
.home-image07 {
  width: 10%;
  height: 5%;
  margin-top: 6%;
  object-fit: cover;
}
.home-stat2 {
  width: 40%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: row;
}
.home-step2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.home-image08 {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-large);
  object-fit: cover;
  margin-bottom: -13%;
}
.home-text041 {
  color: #ffffff;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
}
.home-text042 {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
}
.home-quote-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 20%;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  background-color: #395b81;
}
.home-quote {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.home-author {
  width: 40%;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.home-image09 {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 30px;
}
.home-message {
  color: #ffffff;
  font-size: 40px;
  align-self: center;
  line-height: 52px;
}
.home-quote1 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 130%;
  max-width: 800px;
  align-self: flex-start;
  margin-top: 3%;
  margin-left: var(--dl-space-space-unit);
}
.home-text045 {
  font-size: 100%;
  font-style: normal;
  font-weight: 600;
}
.home-text046 {
  font-style: normal;
  font-weight: 600;
}
.home-text048 {
  font-weight: 700;
}
.home-integrations {
  width: 100%;
  height: 657px;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgb(57, 91, 129) 0.00%,rgb(100, 149, 235) 100.00%);
}
.home-text049 {
  color: rgb(255, 255, 255);
  width: 1556px;
  height: 107px;
  z-index: 100;
  font-size: 40px;
  font-style: normal;
  margin-top: 5%;
  text-align: center;
  font-weight: 900;
  line-height: 80px;
  margin-bottom: 2%;
}
.home-centered-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-pills-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-pills {
  width: 100%;
  display: flex;
  grid-gap: var(--dl-space-space-twounits);
  flex-wrap: wrap;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: center;
}
.home-container03 {
  gap: var(--dl-space-space-twounits);
  width: fit-content;
  height: 294px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.home-stats1 {
  width: 100%;
  display: none;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.home-stat3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text050 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
}
.home-text053 {
  color: #ffffff;
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-text054 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-stat4 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text055 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
}
.home-text056 {
  color: #ffffff;
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-text057 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-stat5 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text058 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
}
.home-text059 {
  color: #ffffff;
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-text060 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-stat6 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text061 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
}
.home-text062 {
  color: #ffffff;
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-text063 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-pricing {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  padding-top: 2px;
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
  background-color: rgb(100, 149, 235);
}
.home-heading {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  margin-bottom: 5%;
  flex-direction: column;
}
.home-text064 {
  color: var(--dl-color-gray-white);
  font-size: 40px;
  font-style: normal;
  text-align: center;
  font-weight: 900;
}
.home-text065 {
  color: rgb(238, 233, 254);
  width: fit-content;
  font-size: 22px;
  text-align: center;
}
.home-pricing1 {
  width: 100%;
  display: flex;
  background-size: cover;
  justify-content: center;
  background-position: center;
}
.home-container04 {
  color: white;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  background-size: cover;
  justify-content: center;
}
.home-pricing-card {
  width: 100%;
  height: 85%;
  display: flex;
  padding: 4%;
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  border-radius: 20px;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(57, 91, 129, 0.6);
}
.home-pricing-card:hover {
  transform: scale(1.02);
}
.home-text069 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.home-container05 {
  display: none;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.home-text070 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.home-text073 {
  font-size: 2rem;
  margin-top: 20%;
  font-weight: 700;
}
.home-text074 {
  font-size: 1.15rem;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.home-container06 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home-text076 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text077 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-navlink06 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.home-navlink06:hover {
  background-color: #7AA7EF;
}
.home-pricing-card1 {
  width: 100%;
  height: 110%;
  display: flex;
  padding: 4%;
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  border-radius: 20px;
  flex-direction: column;
  background-color: rgba(57, 91, 129, 0.6);
}
.home-pricing-card1:hover {
  transform: scale(1.02);
}
.home-text078 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.home-container07 {
  display: none;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.home-text079 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.home-text082 {
  font-size: 2rem;
  margin-top: 20%;
  font-weight: 700;
}
.home-text083 {
  font-size: 1.15rem;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.home-container08 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home-text085 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text086 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text087 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-navlink07 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.home-navlink07:hover {
  background-color: #7AA7EF;
}
.home-pricing-card2 {
  width: 100%;
  height: 85%;
  display: flex;
  padding: 4%;
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: 20px;
  flex-direction: column;
  background-color: rgba(57, 91, 129, 0.6);
}
.home-pricing-card2:hover {
  transform: scale(1.02);
}
.home-text088 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.home-container09 {
  display: none;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.home-text089 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.home-text092 {
  font-size: 2rem;
  margin-top: 18%;
  font-weight: 700;
}
.home-text093 {
  font-size: 1.15rem;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.home-container10 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text095 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text096 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text097 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text098 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-navlink08 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.home-navlink08:hover {
  background-color: #7AA7EF;
}
.home-blog-post-card {
  width: 100%;
  display: flex;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(100, 149, 235);
}
.home-blog-post-card:hover {
  transform: scale(1.02);
}
.home-image10 {
  width: 90%;
  height: 100%;
  align-self: center;
  max-height: 50rem;
  object-fit: cover;
  border-radius: 30px;
}
.home-container11 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  margin-top: 5%;
  align-items: center;
  margin-bottom: 15%;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(100, 149, 235);
}
.home-text099 {
  color: var(--dl-color-gray-500);
  font-size: 130%;
  margin-top: var(--dl-space-space-unit);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text100 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-style: normal;
  text-align: center;
  font-weight: 900;
}
.home-separator {
  width: 40%;
  height: 1px;
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-900);
}
.home-text101 {
  color: rgb(255, 255, 255);
  font-size: 130%;
  max-width: 80%;
  font-weight: 700;
  line-height: 2;
}
.home-faq {
  width: 100%;
  display: flex;
  padding: 120px;
  align-items: center;
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
  background-color: rgb(100, 149, 235);
}
.home-heading1 {
  width: 100%;
  display: flex;
  align-items: center;
  user-select: none;
  flex-direction: column;
}
.home-text102 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-style: normal;
  text-align: center;
  font-weight: 900;
  margin-bottom: 5%;
}
.home-accordion {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-accordion-container1 {
  margin-bottom: 4%;
}
.home-header4 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.home-text103 {
  color: #ffffff;
  width: 100%;
  font-size: 20px;
  max-width: 760px;
  font-style: normal;
  font-weight: 700;
}
.home-icon04 {
  fill: #ffffff;
}
.home-text104 {
  color: #ffffff;
  width: 100%;
  max-width: 760px;
  line-height: 24px;
}
.home-header5 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.home-text105 {
  color: #ffffff;
  width: 100%;
  font-size: 20px;
  max-width: 760px;
  font-style: normal;
  font-weight: 700;
}
.home-icon06 {
  fill: #ffffff;
}
.home-text106 {
  color: #ffffff;
  width: 100%;
  max-width: 760px;
  line-height: 24px;
}
.home-accordion-container3 {
  margin-top: 4%;
  margin-bottom: 4%;
}
.home-header6 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.home-text107 {
  color: #ffffff;
  width: 100%;
  font-size: 20px;
  max-width: 760px;
  font-style: normal;
  font-weight: 700;
}
.home-icon08 {
  fill: #ffffff;
}
.home-text111 {
  color: #ffffff;
  width: 100%;
  max-width: 760px;
  line-height: 24px;
}
.home-header7 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.home-text112 {
  color: #ffffff;
  width: 100%;
  font-size: 20px;
  max-width: 760px;
  font-weight: 500;
}
.home-text113 {
  font-weight: 700;
}
.home-text114 {
  font-style: normal;
}
.home-icon10 {
  fill: #ffffff;
}
.home-text115 {
  color: #ffffff;
  width: 100%;
  max-width: 760px;
  line-height: 24px;
}
.home-accordion-container5 {
  margin-top: 4%;
  margin-bottom: 4%;
}
.home-header8 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.home-text116 {
  color: #ffffff;
  width: 100%;
  font-size: 20px;
  max-width: 760px;
  font-style: normal;
  font-weight: 700;
}
.home-icon12 {
  fill: #ffffff;
}
.home-text117 {
  color: #ffffff;
  width: 100%;
  max-width: 760px;
  line-height: 24px;
}
.home-accordion-code2 {
  display: contents;
}
.home-footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sevenunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sevenunits);
  background-color: #395b81;
}
.home-top {
  width: 100%;
  display: flex;
  max-width: 105%;
  border-color: #3B3B3B;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
.home-left1 {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.home-contact {
  display: flex;
  margin-top: 52px;
  align-items: flex-start;
  flex-direction: column;
}
.home-text118 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.home-link4 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: underline;
}
.home-link5 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  margin-top: var(--dl-space-space-halfunit);
  text-decoration: underline;
}
.home-right1 {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: flex-start;
}
.home-category {
  width: 240px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.home-text119 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.home-links3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text120 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
}
.home-text121 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.home-text122 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.home-text123 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.home-text124 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.home-category1 {
  width: 240px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text125 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.home-links4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-navlink09 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
.home-text126 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.home-text127 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.home-text128 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.home-text129 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.home-text130 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.home-category2 {
  width: 240px;
  display: flex;
  flex-direction: column;
}
.home-text131 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.home-links5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link6 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
.home-text132 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.home-link7 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
.home-text133 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.home-category3 {
  width: 240px;
  display: flex;
  flex-direction: column;
}
.home-text134 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-left: 2%;
  margin-bottom: var(--dl-space-space-unit);
}
.home-links6 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-ul {
  width: 150%;
  align-self: flex-start;
  margin-right: 0px;
  padding-left: 2%;
  margin-bottom: 10%;
}
.home-navlink10 {
  color: #c4c4c4;
  text-decoration: underline;
}
.home-li1 {
  margin-top: 4%;
  margin-bottom: 4%;
}
.home-navlink11 {
  color: #c4c4c4;
  text-decoration: underline;
}
.home-navlink12 {
  color: #c4c4c4;
  text-decoration: underline;
}
.home-li3 {
  margin-top: 4%;
  margin-bottom: 4%;
}
.home-navlink13 {
  color: #c4c4c4;
  text-decoration: underline;
}
.home-navlink14 {
  color: #c4c4c4;
  text-decoration: underline;
}
.home-li5 {
  margin-top: 4%;
  margin-bottom: 4%;
}
.home-navlink15 {
  color: #c4c4c4;
  text-decoration: underline;
}
.home-navlink16 {
  color: #c4c4c4;
  text-decoration: underline;
}
.home-li7 {
  margin-top: 4%;
  margin-bottom: 4%;
}
.home-navlink17 {
  color: #c4c4c4;
  margin-top: 0%;
  margin-bottom: 0%;
  text-decoration: underline;
}
.home-navlink18 {
  color: #c4c4c4;
  text-decoration: underline;
}
.home-bottom {
  width: 100%;
  display: flex;
  max-width: 1200px;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  user-select: none;
  flex-direction: column;
}
.home-branding {
  width: 153px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);;
  height: 131px;
  margin-bottom: 0px;
}
.home-text135 {
  color: rgb(104, 104, 104);
  font-size: 14px;
  line-height: 30px;
}
@media(max-width: 1200px) {
  .home-hero {
    background-color: #7AA7EF;
  }
  .home-text004 {
    color: rgb(255, 255, 255);
    width: fit-content;
    height: 216px;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
  }
  .home-text007 {
    width: fit-content;
    height: 67px;
  }
  .home-features {
    height: 1307px;
    padding-top: 0px;
  }
  .home-image01 {
    height: 476px;
  }
  .home-text009 {
    color: rgb(255, 255, 255);
    width: fit-content;
    height: 216px;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
  }
  .home-text010 {
    width: fit-content;
    height: 67px;
  }
  .home-text011 {
    width: fit-content;
    height: 67px;
  }
  .home-text012 {
    width: fit-content;
    height: 67px;
  }
  .home-text013 {
    width: fit-content;
    height: 67px;
  }
  .home-text026 {
    color: rgb(255, 255, 255);
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
  }
  .home-cards {
    width: 1064px;
    height: 571px;
  }
  .home-schedule {
    top: 310px;
    left: 119px;
    width: 460px;
    height: 310px;
    position: static;
    border-color: #ffffff;
  }
  .home-schedule1 {
    width: 296px;
    height: 308px;
    position: static;
  }
  .home-image09 {
    width: 125px;
    height: 79px;
  }
  .home-quote1 {
    color: #ffffff;
  }
  .home-integrations {
    height: fit-content;
    padding-top: 0px;
    background-color: #7AA7EF;
  }
  .home-text049 {
    color: rgb(255, 255, 255);
    width: 1200px;
    height: 235px;
    font-size: 50px;
    font-style: normal;
    margin-top: 320px;
    font-weight: 700;
    line-height: 80px;
  }
  .home-container04 {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .home-pricing-card {
    height: 550px;
  }
  .home-container06 {
    align-self: flex-start;
  }
  .home-pricing-card2 {
    height: 550px;
  }
}
@media(max-width: 991px) {
  .home-hero {
    height: fit-content;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-close-mobile-menu {
    align-items: center;
    justify-content: center;
  }
  .home-desktop-navigation {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-centered {
    padding-left: 1%;
    padding-right: 1%;
  }
  .home-left {
    margin-left: var(--dl-space-space-halfunit);
  }
  .home-logo1 {
    width: 64px;
  }
  .home-links2 {
    display: none;
  }
  .home-get-started {
    display: none;
  }
  .home-mobile-menu-button {
    display: flex;
  }
  .home-header1 {
    width: 100%;
    max-width: 1200px;
  }
  .home-header2 {
    width: 100%;
    max-width: 1200px;
  }
  .home-text004 {
    color: rgb(255, 255, 255);
    width: fit-content;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
  }
  .home-text007 {
    height: 225px;
    max-width: 600px;
  }
  .home-features {
    height: fit-content;
    padding-top: var(--dl-space-space-sevenunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-container02 {
    width: 100%;
  }
  .home-image01 {
    width: 50%;
    height: 70%;
    margin-top: 0px;
  }
  .home-header3 {
    width: 100%;
    max-width: 1200px;
  }
  .home-text009 {
    color: rgb(255, 255, 255);
    width: fit-content;
    height: 81px;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 0px;
  }
  .home-text010 {
    color: rgb(238, 233, 254);
    height: 225px;
    font-size: 25px;
    max-width: 600px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
  }
  .home-text011 {
    color: rgb(238, 233, 254);
    height: 225px;
    font-size: 25px;
    max-width: 600px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
  }
  .home-text012 {
    color: rgb(238, 233, 254);
    height: 225px;
    font-size: 25px;
    max-width: 600px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
  }
  .home-text013 {
    color: rgb(238, 233, 254);
    height: 225px;
    font-size: 25px;
    max-width: 600px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
  }
  .home-text026 {
    font-size: 36px;
    line-height: 40px;
  }
  .home-cards {
    width: 828px;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 0px;
    padding-right: 0px;
  }
  .home-image02 {
    margin-bottom: 10%;
  }
  .home-schedule1 {
    width: 419px;
    margin-right: 0px;
  }
  .home-text031 {
    text-align: center;
  }
  .home-text037 {
    text-align: center;
  }
  .home-text041 {
    text-align: center;
  }
  .home-quote-container {
    height: 540px;
    padding-top: var(--dl-space-space-sevenunits);
    padding-bottom: var(--dl-space-space-sevenunits);
  }
  .home-quote {
    flex-direction: column-reverse;
  }
  .home-author {
    width: 100%;
    max-width: 800px;
  }
  .home-message {
    width: 100%;
    max-width: 800px;
  }
  .home-integrations {
    height: fit-content;
  }
  .home-text049 {
    color: rgb(255, 255, 255);
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
  }
  .home-text050 {
    text-align: center;
  }
  .home-text055 {
    text-align: center;
  }
  .home-text058 {
    text-align: center;
  }
  .home-text061 {
    text-align: center;
  }
  .home-pricing {
    height: 2000px;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .home-heading {
    margin-top: 244px;
  }
  .home-text064 {
    color: var(--dl-color-gray-white);
    font-size: 40px;
  }
  .home-text065 {
    width: 100%;
    max-width: 600px;
  }
  .home-pricing1 {
    width: 125%;
  }
  .home-container04 {
    width: 90%;
  }
  .home-pricing-card {
    width: 100%;
    height: 500px;
    padding: var(--dl-space-space-twounits);
    max-width: 100%;
    align-items: center;
  }
  .home-pricing-card1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .home-pricing-card2 {
    width: 100%;
    height: 500px;
    max-width: 100%;
    align-items: center;
  }
  .home-accordion {
    width: 100%;
    max-width: 1200px;
  }
  .home-footer {
    padding: var(--dl-space-space-sixunits);
    background-color: #395b81;
  }
  .home-top {
    flex-direction: column;
  }
  .home-left1 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-text118 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-link4 {
    text-decoration: underline none;
  }
  .home-link5 {
    text-decoration: underline none;
  }
  .home-right1 {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .home-links3 {
    gap: var(--dl-space-space-unit);
  }
  .home-links4 {
    gap: var(--dl-space-space-unit);
  }
  .home-links5 {
    gap: var(--dl-space-space-unit);
  }
  .home-links6 {
    gap: var(--dl-space-space-unit);
  }
  .home-branding {
    width: 20%;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-text135 {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 0px;
  }
}
@media(max-width: 767px) {
  .home-hero {
    height: 620px;
    position: relative;
    padding-bottom: 180px;
    background-color: #7AA7EF;
  }
  .home-mobile-navigation {
    top: 0px;
    right: -479px;
  }
  .home-desktop-navigation {
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-left {
    margin-left: var(--dl-space-space-unit);
  }
  .home-right {
    margin-right: var(--dl-space-space-unit);
  }
  .home-get-started {
    display: none;
  }
  .home-header1 {
    height: 641px;
    margin-top: var(--dl-space-space-fourunits);
    justify-content: center;
  }
  .home-header2 {
    height: 641px;
    margin-top: var(--dl-space-space-fourunits);
    justify-content: center;
  }
  .home-text004 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }
  .home-text007 {
    color: rgb(238, 233, 254);
    height: 704px;
    font-size: 16px;
    margin-top: 0px;
    line-height: 24px;
  }
  .home-get-started1 {
    height: 100%;
    margin: 0px;
  }
  .home-text008 {
    font-size: 120%;
  }
  .home-features {
    height: 1883px;
    padding-top: 350px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-image01 {
    top: -154px;
    left: -22px;
    width: 767px;
    height: 595px;
    margin-top: -200;
    margin-bottom: 4%;
  }
  .home-header3 {
    height: 641px;
    margin-top: var(--dl-space-space-fourunits);
    justify-content: center;
  }
  .home-text009 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }
  .home-text010 {
    color: rgb(238, 233, 254);
    height: 704px;
    font-size: 16px;
    margin-top: 0px;
    line-height: 24px;
  }
  .home-text011 {
    color: rgb(238, 233, 254);
    height: 704px;
    font-size: 16px;
    margin-top: 0px;
    line-height: 24px;
  }
  .home-text012 {
    color: rgb(238, 233, 254);
    height: 704px;
    font-size: 16px;
    margin-top: 0px;
    line-height: 24px;
  }
  .home-text013 {
    color: rgb(238, 233, 254);
    height: 704px;
    font-size: 16px;
    margin-top: 0px;
    line-height: 24px;
  }
  .home-text026 {
    font-size: 36px;
    font-style: normal;
    margin-top: 40%;
    font-weight: 700;
    line-height: 40px;
  }
  .home-cards {
    width: 95%;
  }
  .home-stats {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-stat {
    padding: var(--dl-space-space-unit);
  }
  .home-step {
    padding: var(--dl-space-space-unit);
  }
  .home-stat1 {
    padding: var(--dl-space-space-unit);
  }
  .home-step1 {
    padding: var(--dl-space-space-unit);
  }
  .home-stat2 {
    padding: var(--dl-space-space-unit);
  }
  .home-step2 {
    padding: var(--dl-space-space-unit);
  }
  .home-quote-container {
    height: fit-content;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-author {
    width: 100%;
  }
  .home-message {
    font-size: 24px;
    line-height: 31px;
  }
  .home-quote1 {
    font-size: 14px;
    max-width: 800px;
  }
  .home-integrations {
    height: 1187px;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-text049 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-style: normal;
    margin-top: 0px;
    font-weight: 700;
    line-height: 36px;
  }
  .home-pills {
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-stats1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    grid-template-columns: 1fr 1fr;
  }
  .home-text053 {
    text-align: center;
  }
  .home-text056 {
    text-align: center;
  }
  .home-text059 {
    text-align: center;
  }
  .home-text062 {
    text-align: center;
  }
  .home-pricing {
    width: 100%;
    height: 2524px;
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
  .home-container04 {
    width: 100%;
    flex-flow: column;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-pricing-card {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-pricing-card1 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-pricing-card2 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-faq {
    height: 1331px;
    padding: var(--dl-space-space-fourunits);
  }
  .home-heading1 {
    width: 100%;
  }
  .home-text102 {
    font-size: 36px;
    line-height: 36px;
  }
  .home-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .home-container {
    background-color: #7AA7EF;
  }
  .home-hero {
    height: 689px;
    margin-bottom: 648px;
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: #7AA7EF;
  }
  .home-mobile-navigation {
    height: 9638px;
    margin-bottom: 0px;
  }
  .home-logo {
    width: 95px;
    height: 74px;
    margin-left: 0px;
  }
  .home-text {
    text-decoration: none;
  }
  .home-text001 {
    font-size: 16px;
  }
  .home-navlink {
    text-decoration: none;
  }
  .home-icon02 {
    align-items: center;
    justify-content: center;
  }
  .home-centered {
    width: 100%;
    height: var(--dl-size-size-small);
  }
  .home-header1 {
    height: 155px;
    margin-top: 0px;
  }
  .home-header2 {
    height: 155px;
    margin-top: 0px;
  }
  .home-text004 {
    color: rgb(255, 255, 255);
    width: fit-content;
    font-size: 18px;
    font-style: normal;
    margin-top: 50%;
    font-weight: 700;
    line-height: 80px;
  }
  .home-text007 {
    color: rgb(238, 233, 254);
    width: fit-content;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 10%;
  }
  .home-container01 {
    display: none;
  }
  .home-get-started1 {
    width: fit-content;
    height: fit-content;
    margin-top: 40%;
    margin-bottom: 5%;
  }
  .home-text008 {
    font-size: 16px;
    font-weight: 600;
  }
  .home-features {
    height: 1194px;
    padding-top: 12px;
    margin-bottom: 0%;
    padding-bottom: 70%;
  }
  .home-image01 {
    width: fit-content;
    height: 401px;
    z-index: 0;
    align-self: center;
    margin-top: 0px;
  }
  .home-header3 {
    height: 155px;
    margin-top: 0px;
  }
  .home-text009 {
    color: rgb(255, 255, 255);
    width: fit-content;
    font-size: 18px;
    font-style: normal;
    margin-top: 50%;
    font-weight: 700;
    line-height: 80px;
  }
  .home-text010 {
    color: rgb(238, 233, 254);
    width: fit-content;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 10%;
  }
  .home-text011 {
    color: rgb(238, 233, 254);
    width: fit-content;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 10%;
  }
  .home-text012 {
    color: rgb(238, 233, 254);
    width: fit-content;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 10%;
  }
  .home-text013 {
    color: rgb(238, 233, 254);
    width: fit-content;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 10%;
  }
  .home-text026 {
    color: rgb(255, 255, 255);
    margin-bottom: 10%;
  }
  .home-cards {
    grid: inherit;
    width: fit-content;
    height: fit-content;
    display: flex;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    flex-direction: column;
    padding-bottom: 0px;
  }
  .home-schedule {
    width: 100%;
    padding-top: 10%;
  }
  .home-text028 {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
  }
  .home-schedule1 {
    width: fit-content;
    margin-left: 0px;
    padding-top: 10%;
    margin-bottom: 20%;
  }
  .home-text029 {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
  }
  .home-stats {
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-quote-container {
    height: 360px;
    margin-top: 0%;
    padding-top: 44px;
    padding-left: 20px;
    margin-bottom: 0px;
    padding-bottom: 39px;
    background-color: #395b81;
  }
  .home-message {
    color: rgb(255, 255, 255);
    font-size: 24px;
    line-height: 31px;
  }
  .home-integrations {
    height: 50%;
  }
  .home-text049 {
    color: rgb(255, 255, 255);
    width: fit-content;
    height: fit-content;
    font-size: 16px;
    font-style: normal;
    margin-top: 0px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 20%;
  }
  .home-pills {
    margin-bottom: 68px;
  }
  .home-container03 {
    height: fit-content;
  }
  .home-stats1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
    grid-template-columns: 1fr;
  }
  .home-pricing {
    width: fit-content;
    height: 2000;
  }
  .home-heading {
    width: fit-content;
    height: fit-content;
    margin-top: 0%;
    margin-bottom: 0;
  }
  .home-text064 {
    color: var(--dl-color-gray-white);
    width: fit-content;
    font-size: 18px;
  }
  .home-text065 {
    color: rgb(238, 233, 254);
    width: fit-content;
    font-size: 12px;
  }
  .home-container04 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container06 {
    align-self: center;
  }
  .home-pricing-card1 {
    height: 470px;
    padding-top: 8%;
    padding-bottom: 8%;
  }
  .home-pricing-card2 {
    padding-top: 8%;
    margin-bottom: 0px;
    padding-bottom: 8%;
  }
  .home-faq {
    width: fit-content;
    height: 1571px;
  }
  .home-text102 {
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px;
  }
  .home-footer {
    width: 479px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-contact {
    margin-top: 0px;
  }
  .home-link6 {
    color: rgb(196, 196, 196);
    font-size: 14px;
  }
  .home-branding {
    width: 154px;
  }
}
