.page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page-mobile-navigation {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 150;
  position: fixed;
  transition: transform 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.page-logo {
  width: 64px;
}
.page-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
}
.page-links1 {
  flex-direction: column;
}
.page-link {
  text-decoration: none;
}
.page-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.page-text {
  width: 100%;
  font-size: 20px;
  max-width: 760px;
  font-style: normal;
  font-weight: 500;
}
.page-content {
  flex-direction: column;
}
.page-link1 {
  margin-bottom: 10px;
  text-decoration: none;
}
.page-navlink {
  margin-bottom: 10px;
  text-decoration: none;
}
.page-navlink1 {
  text-decoration: none;
}
.page-container2 {
  display: contents;
}
.page-close-mobile-menu {
  top: var(--dl-space-space-oneandhalfunits);
  right: var(--dl-space-space-oneandhalfunits);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page-icon2 {
  width: 24px;
  height: 24px;
  display: flex;
}
@media(max-width: 991px) {
  .page-close-mobile-menu {
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .page-mobile-navigation {
    top: 0px;
    right: -479px;
  }
}
@media(max-width: 479px) {
  .page-mobile-navigation {
    height: 9638px;
    margin-bottom: 0px;
  }
  .page-logo {
    width: 95px;
    height: 74px;
    margin-left: 0px;
  }
  .page-link {
    text-decoration: none;
  }
  .page-text {
    font-size: 16px;
  }
  .page-link1 {
    text-decoration: none;
  }
  .page-icon2 {
    align-items: center;
    justify-content: center;
  }
}
