.page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #7AA7EF;
}
.page-text {
  color: white;
  font-size: 70px;
}
.page-text001 {
  color: var(--dl-color-gray-white);
  font-size: 25px;
}
.page-features {
  color: white;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
}
.page-text002 {
  color: white;
  font-size: 3rem;
  text-align: center;
  margin-bottom: var(--dl-space-space-sevenunits);
}
.page-container01 {
  width: fit-content;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  transition: 0.3s;
  border-radius: 20px;
  background-color: var(--dl-color-gray-white);
  grid-template-columns: 1fr 1fr;
}
.page-container01:hover {
  transform: scale(1.05);
}
.page-feature-card {
  color: var(--dl-color-gray-black);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
}
.page-icon {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.page-container02 {
  width: fit-content;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.page-text003 {
  font-weight: 800;
  margin-bottom: var(--dl-space-space-unit);
}
.page-feature-card1 {
  color: var(--dl-color-gray-black);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.page-icon02 {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.page-container03 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.page-text014 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.page-features1 {
  color: white;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
}
.page-text021 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: var(--dl-space-space-sevenunits);
}
.page-container04 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr;
}
.page-feature-card2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.page-icon04 {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.page-container05 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.page-text022 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.page-feature-card3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.page-icon06 {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.page-container06 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.page-text032 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.page-feature-card4 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.page-icon08 {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.page-container07 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.page-text042 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.page-features2 {
  color: white;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  flex-direction: column;
}
.page-text049 {
  font-size: 3rem;
  align-self: center;
  text-align: center;
  margin-bottom: var(--dl-space-space-sevenunits);
}
.page-container08 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr;
}
.page-feature-card5 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
}
.page-icon10 {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.page-container09 {
  width: fit-content;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.page-text050 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.page-feature-card6 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
}
.page-icon12 {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.page-container10 {
  width: fit-content;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.page-text061 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.page-feature-card7 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
}
.page-icon14 {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.page-container11 {
  width: fit-content;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.page-text073 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.page-feature-card8 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
}
.page-icon16 {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.page-container12 {
  width: fit-content;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.page-text088 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.page-pricing {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.page-card {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: 2%;
  border-radius: 25px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: var(--dl-color-gray-white);
}
.page-container13 {
  display: flex;
  min-width: 150px;
  align-items: center;
  flex-direction: column;
}
.page-text092 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
}
.page-text093 {
  margin: var(--dl-space-space-halfunit);
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
}
.page-text094 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
}
.page-text095 {
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-sixunits);
}
.page-text096 {
  font-style: normal;
  font-weight: 400;
}
.page-button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-unit);
  margin-right: 2%;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.page-button:hover {
  transform: scale(1.02);
}
.page-text101:hover {
  transform: scale(1.02);
}
.page-card1 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: 2%;
  border-radius: 25px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: var(--dl-color-gray-white);
}
.page-container14 {
  display: flex;
  min-width: 150px;
  align-items: center;
  flex-direction: column;
}
.page-text103 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
}
.page-text104 {
  margin: var(--dl-space-space-halfunit);
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
}
.page-text105 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
}
.page-text106 {
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-sixunits);
}
.page-text107 {
  font-style: normal;
  font-weight: 400;
}
.page-link {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-unit);
  margin-right: 2%;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.page-link:hover {
  transform: scale(1.02);
}
.page-card2 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: 2%;
  border-radius: 25px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: var(--dl-color-gray-white);
}
.page-container15 {
  display: flex;
  min-width: 150px;
  align-items: center;
  flex-direction: column;
}
.page-text111 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
}
.page-text112 {
  margin: var(--dl-space-space-halfunit);
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
}
.page-text113 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
}
.page-text114 {
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-sixunits);
}
.page-text115 {
  font-style: normal;
  font-weight: 400;
}
.page-link1 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-unit);
  margin-right: 2%;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.page-link1:hover {
  transform: scale(1.02);
}
.page-banner {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: space-between;
  background-image: url('https://images.unsplash.com/photo-1485628390555-1a7bd503f9fe?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE3fHxhcmNoaXRlY3R1cmUlMjBtaW5pbWFsfGVufDB8fHx8MTYyNjE4NDA0Mg&ixlib=rb-1.2.1&w=1500');
  background-position: center;
}
.page-text119 {
  font-size: 0.75rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
  letter-spacing: 2px;
}
.page-text120 {
  text-transform: uppercase;
}
.page-text121 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.page-text122 {
  max-width: var(--dl-size-size-maxwidth);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.page-container16 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.page-textinput {
  font-size: 0.75rem;
  border-color: var(--dl-color-gray-500);
  border-radius: 20px;
}
.page-button1 {
  color: var(--dl-color-gray-white);
  font-size: 0.75rem;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-radius: 20px;
  background-color: var(--dl-color-gray-black);
}
.page-button1:hover {
  color: var(--dl-color-gray-black);
  background-color: transparent;
}
.page-footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sevenunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sevenunits);
  background-color: #6495eb;
}
.page-top {
  width: 100%;
  display: flex;
  max-width: 1200px;
  border-color: #3B3B3B;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
.page-right {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: flex-start;
}
.page-category {
  width: 240px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.page-text123 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.page-links {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page-text124 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
}
.page-text125 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page-text126 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page-text127 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page-text128 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page-category1 {
  width: 240px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page-text129 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.page-links1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page-text130 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page-text131 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page-text132 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page-text133 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page-text134 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page-text135 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page-category2 {
  width: 240px;
  display: flex;
  flex-direction: column;
}
.page-text136 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.page-links2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page-text137 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page-text138 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page-text139 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page-text140 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page-text141 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.page-bottom {
  width: 100%;
  display: flex;
  max-width: 1200px;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  user-select: none;
  flex-direction: column;
}
.page-branding {
  width: 153px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);;
  height: 131px;
  margin-bottom: 0px;
}
.page-text142 {
  color: rgb(104, 104, 104);
  font-size: 14px;
  line-height: 30px;
}
@media(max-width: 1200px) {
  .page-text002 {
    font-size: 3rem;
  }
  .page-features1 {
    padding-top: 48px;
  }
  .page-text021 {
    font-size: 3rem;
  }
  .page-text049 {
    font-size: 3rem;
  }
  .page-text112 {
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
  }
}
@media(max-width: 991px) {
  .page-text093 {
    margin-left: var(--dl-space-space-oneandhalfunits);
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .page-text095 {
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .page-button {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page-text101 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page-text104 {
    margin-left: var(--dl-space-space-oneandhalfunits);
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .page-text106 {
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .page-link {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page-text112 {
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .page-text114 {
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .page-link1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page-text122 {
    width: 100%;
  }
  .page-footer {
    padding: var(--dl-space-space-sixunits);
    background-color: #395b81;
  }
  .page-top {
    flex-direction: column;
  }
  .page-right {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .page-links {
    gap: var(--dl-space-space-unit);
  }
  .page-links1 {
    gap: var(--dl-space-space-unit);
  }
  .page-links2 {
    gap: var(--dl-space-space-unit);
  }
  .page-branding {
    width: var(--dl-size-size-medium);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .page-text142 {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 0px;
  }
}
@media(max-width: 767px) {
  .page-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page-container01 {
    grid-template-columns: 1fr;
  }
  .page-feature-card {
    flex-direction: row;
  }
  .page-container02 {
    flex-direction: column;
  }
  .page-feature-card1 {
    flex-direction: row;
  }
  .page-container03 {
    flex-direction: column;
  }
  .page-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page-container04 {
    grid-template-columns: 1fr;
  }
  .page-feature-card2 {
    flex-direction: row;
  }
  .page-container05 {
    flex-direction: column;
  }
  .page-feature-card3 {
    flex-direction: row;
  }
  .page-container06 {
    flex-direction: column;
  }
  .page-feature-card4 {
    flex-direction: row;
  }
  .page-container07 {
    flex-direction: column;
  }
  .page-features2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page-container08 {
    grid-template-columns: 1fr;
  }
  .page-feature-card5 {
    flex-direction: row;
  }
  .page-container09 {
    flex-direction: column;
  }
  .page-feature-card6 {
    flex-direction: row;
  }
  .page-container10 {
    flex-direction: column;
  }
  .page-feature-card7 {
    flex-direction: row;
  }
  .page-container11 {
    flex-direction: column;
  }
  .page-feature-card8 {
    flex-direction: row;
  }
  .page-container12 {
    flex-direction: column;
  }
  .page-pricing {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page-card {
    width: 100%;
    flex-direction: column;
  }
  .page-text095 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .page-card1 {
    width: 100%;
    flex-direction: column;
  }
  .page-text106 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .page-card2 {
    width: 100%;
    flex-direction: column;
  }
  .page-text114 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .page-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page-text122 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .page-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .page-container {
    background-color: #7AA7EF;
  }
  .page-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .page-container02 {
    flex-direction: column;
  }
  .page-container03 {
    flex-direction: column;
  }
  .page-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .page-container05 {
    flex-direction: column;
  }
  .page-container06 {
    flex-direction: column;
  }
  .page-container07 {
    flex-direction: column;
  }
  .page-features2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .page-text049 {
    font-size: 3rem;
  }
  .page-container09 {
    flex-direction: column;
  }
  .page-container10 {
    flex-direction: column;
  }
  .page-container11 {
    flex-direction: column;
  }
  .page-text073 {
    font-weight: 600;
  }
  .page-container12 {
    flex-direction: column;
  }
  .page-pricing {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .page-text095 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .page-text106 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .page-text114 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .page-banner {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .page-container16 {
    align-items: center;
    flex-direction: column;
  }
  .page-button1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .page-footer {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .page-text137 {
    color: rgb(196, 196, 196);
    font-size: 14px;
  }
  .page-branding {
    width: 154px;
  }
}
