.solutions-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #7AA7EF;
}
.solutions-menu {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.solutions-mobile-navigation {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 150;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.solutions-logo {
  width: 64px;
}
.solutions-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
}
.solutions-close-mobile-menu {
  top: var(--dl-space-space-oneandhalfunits);
  right: var(--dl-space-space-oneandhalfunits);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.solutions-icon {
  width: 24px;
  height: 24px;
  display: flex;
}
.solutions-desktop-navigation {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.solutions-centered {
  width: 70%;
  height: var(--dl-size-size-medium);
  display: flex;
  max-width: 1200px;
  box-sizing: initial;
  align-items: center;
  padding-left: 1%;
  border-radius: 50px;
  padding-right: 2%;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
.solutions-left {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 38px;
  flex-direction: row;
  padding-bottom: 38px;
}
.solutions-navlink {
  display: contents;
}
.solutions-logo1 {
  width: 105px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-halfunit);
  text-decoration: none;
}

.solutions-links1 {
  display: flex;
  align-items: center;
  margin-left: 33px;
  flex-direction: row;
}
.solutions-navlink1 {
  transition: 0.3s;
  text-decoration: none;
}
.solutions-navlink1:hover {
  color: #797979;
}
.solutions-navlink2 {
  transition: 0.3s;
  text-decoration: none;
}
.solutions-navlink2:hover {
  color: #797979;
}
.solutions-navlink3 {
  transition: 0.3s;
  text-decoration: none;
}
.solutions-navlink3:hover {
  color: #797979;
}
.solutions-right {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.solutions-burger-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.solutions-mobile-menu-button {
  width: 40px;
  height: 40px;
  display: none;
}
.solutions-text03 {
  color: white;
  font-size: 70px;
  margin-top: 5%;
}
.solutions-text04 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 500;
}
.solutions-pricing {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  margin-top: 10%;
  align-items: center;
  margin-bottom: 20%;
  flex-direction: column;
  justify-content: center;
}
.solutions-text05 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-style: normal;
  font-family: Fira Sans;
  font-weight: 900;
  margin-bottom: 10%;
}
.solutions-schedule {
  width: 60%;
  height: 351px;
  align-self: center;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
}
.solutions-schedule:hover {
  box-shadow: 5px 5px 10px 0px #000000;
}
.solutions-text06 {
  width: 100%;
  font-size: 22px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  font-weight: 700;
}
.solutions-text07 {
  font-style: normal;
}
.solutions-text08 {
  font-style: normal;
}
.solutions-text09 {
  font-style: normal;
}
.solutions-text10 {
  font-size: 17px;
  font-weight: 600;
}
.solutions-schedule1 {
  width: 60%;
  height: 351px;
  align-self: center;
  margin-top: 5%;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
}
.solutions-schedule1:hover {
  box-shadow: 5px 5px 10px 0px #000000;
}
.solutions-text11 {
  width: 100%;
  font-size: 22px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  font-weight: 700;
}
.solutions-text13 {
  font-style: normal;
}
.solutions-text14 {
  font-style: normal;
}
.solutions-text15 {
  font-style: normal;
}
.solutions-text16 {
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
}
.solutions-text17 {
  font-size: 22px;
  font-weight: 700;
}
.solutions-text18 {
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
}
.solutions-text19 {
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
}
.solutions-text20 {
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
}
.solutions-banner {
  width: 100%;
  height: 491px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: space-between;
  background-image: url('https://images.unsplash.com/photo-1485628390555-1a7bd503f9fe?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE3fHxhcmNoaXRlY3R1cmUlMjBtaW5pbWFsfGVufDB8fHx8MTYyNjE4NDA0Mg&ixlib=rb-1.2.1&w=1500');
  background-position: center;
}
.solutions-text21 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1%;
}
.solutions-text22 {
  color: var(--dl-color-gray-white);
  max-width: var(--dl-size-size-maxwidth);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.solutions-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.solutions-textinput {
  width: 25%;
  height: 40px;
  font-size: 0.75rem;
  border-color: var(--dl-color-gray-500);
  border-radius: 20px;
  margin-bottom: 5%;
}
.solutions-button {
  color: var(--dl-color-gray-white);
  width: 7%;
  height: 40px;
  font-size: 0.75rem;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-radius: 20px;
  background-color: var(--dl-color-gray-black);
}
.solutions-button:hover {
  color: var(--dl-color-gray-black);
  background-color: transparent;
}
.solutions-footer {
  width: 100%;
  height: 873px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sevenunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sevenunits);
  background-image: linear-gradient(0deg, rgb(189, 195, 199) 0.00%,rgb(122, 167, 239) 100.00%);
}
.solutions-top {
  width: 100%;
  display: flex;
  max-width: 1200px;
  border-color: #3B3B3B;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
.solutions-right1 {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: flex-start;
}
.solutions-category {
  width: 240px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.solutions-navlink4 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.solutions-links2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.solutions-text23 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
}
.solutions-text24 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.solutions-text25 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.solutions-text26 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.solutions-text27 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.solutions-category1 {
  width: 240px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.solutions-text28 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.solutions-links3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.solutions-navlink5 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
.solutions-text29 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.solutions-text30 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.solutions-text31 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.solutions-text32 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.solutions-text33 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.solutions-category2 {
  width: 240px;
  display: flex;
  flex-direction: column;
}
.solutions-text34 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.solutions-links4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.solutions-text35 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.solutions-text36 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.solutions-text37 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.solutions-link {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
.solutions-text38 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.solutions-bottom {
  width: 100%;
  display: flex;
  max-width: 1200px;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  user-select: none;
  flex-direction: column;
}
.solutions-branding {
  width: 153px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);;
  height: 131px;
  margin-bottom: 0px;
}
.solutions-text39 {
  color: rgb(104, 104, 104);
  font-size: 14px;
  line-height: 30px;
}
@media(max-width: 1200px) {
  .solutions-schedule {
    top: 310px;
    left: 119px;
    width: 460px;
    height: 310px;
    position: static;
    border-color: #ffffff;
  }
  .solutions-schedule1 {
    top: 310px;
    left: 119px;
    width: 460px;
    height: 310px;
    position: static;
    border-color: #ffffff;
  }
  .solutions-textinput {
    width: 20%;
  }
}
@media(max-width: 991px) {
  .solutions-close-mobile-menu {
    align-items: center;
    justify-content: center;
  }
  .solutions-desktop-navigation {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .solutions-centered {
    height: 48%;
    padding-left: 1%;
    padding-right: 1%;
  }
  .solutions-left {
    margin-left: var(--dl-space-space-halfunit);
  }
  .solutions-logo1 {
    width: 64px;
  }
  .solutions-links1 {
    display: none;
  }
  .solutions-mobile-menu-button {
    display: flex;
  }
  .solutions-text22 {
    width: 100%;
  }
  .solutions-textinput {
    width: 20%;
  }
  .solutions-button {
    width: fit-content;
  }
  .solutions-footer {
    padding: var(--dl-space-space-sixunits);
    background-color: #395b81;
  }
  .solutions-top {
    flex-direction: column;
  }
  .solutions-right1 {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .solutions-links2 {
    gap: var(--dl-space-space-unit);
  }
  .solutions-links3 {
    gap: var(--dl-space-space-unit);
  }
  .solutions-links4 {
    gap: var(--dl-space-space-unit);
  }
  .solutions-branding {
    width: var(--dl-size-size-medium);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .solutions-text39 {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 0px;
  }
}
@media(max-width: 767px) {
  .solutions-mobile-navigation {
    top: 0px;
    right: -479px;
  }
  .solutions-desktop-navigation {
    padding-left: 0px;
    padding-right: 0px;
  }
  .solutions-left {
    margin-left: var(--dl-space-space-unit);
  }
  .solutions-right {
    margin-right: var(--dl-space-space-unit);
  }
  .solutions-pricing {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .solutions-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .solutions-text22 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .solutions-button {
    width: fit-content;
  }
  .solutions-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .solutions-container {
    background-color: #7AA7EF;
  }
  .solutions-mobile-navigation {
    height: 9638px;
    margin-bottom: 0px;
  }
  .solutions-logo {
    margin-left: 0px;
  }
  .solutions-icon {
    align-items: center;
    justify-content: center;
  }
  .solutions-centered {
    width: 80%;
    height: var(--dl-size-size-small);
  }
  .solutions-pricing {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .solutions-schedule {
    width: 100%;
    padding-top: 10%;
  }
  .solutions-schedule1 {
    width: 100%;
    padding-top: 10%;
  }
  .solutions-banner {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .solutions-container1 {
    align-items: center;
    flex-direction: column;
  }
  .solutions-textinput {
    width: 80%;
  }
  .solutions-button {
    width: fit-content;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .solutions-footer {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .solutions-text35 {
    color: rgb(196, 196, 196);
    font-size: 14px;
  }
  .solutions-branding {
    width: 154px;
  }
}
